html
  body
    .filmstrip
      .filmstripWindow
        ul.listTypeFilmstrip
          li
            .filmstripThumbnailHeader What's new
            .filmstripThumbnail
              img(src='http://lorempixum.com/270/80/technics/10', alt='')
            .filmstripThumbnailText
              ul
                li a list can go in here as well
                li not much room though even when the text wraps to the next line
              p
                a.readMore(href='replaceMe') Learn More >
          li
            .filmstripThumbnailHeader Recommended
            .filmstripThumbnail
              img(src='http://lorempixum.com/270/80/technics/9', alt='')
            .filmstripThumbnailText
              p
                | Nunc quis nibh nibh. Integer condimentum convallis ligula, vitae auctor orci condimentum nec. Sed nulla urna, venenatis quis consequat eget, ullamcorper.
              p
                a.readMore(href='replaceMe') Learn More >
          li
            .filmstripThumbnailHeader Power to do more
            .filmstripThumbnail
              img(src='http://lorempixum.com/270/80/technics/3', alt='')
            .filmstripThumbnailText
              p
                | Nunc quis nibh nibh. Integer condimentum convallis ligula, vitae auctor orci condimentum nec. Sed nulla urna, venenatis quis consequat eget, ullamcorper.
              p
                a.readMore(href='replaceMe') Learn More >
          li
            .filmstripThumbnailHeader What's New
            .filmstripThumbnail
              img(src='http://lorempixum.com/270/80/technics/5', alt='')
            .filmstripThumbnailText
              p
                | Nunc quis nibh nibh. Integer condimentum convallis ligula, vitae auctor orci condimentum nec. Sed nulla urna, venenatis quis consequat eget, ullamcorper.
              p
                a.readMore(href='replaceMe') Learn More >
          li
            .filmstripThumbnailHeader What's New
            .filmstripThumbnail
              img(src='http://lorempixum.com/270/80/technics/1', alt='')
            .filmstripThumbnailText
              p
                | Nunc quis nibh nibh. Integer condimentum convallis ligula, vitae auctor orci condimentum nec. Sed nulla urna, venenatis quis consequat eget, ullamcorper.
              p
                a.readMore(href='replaceMe') Learn More >
          li
            .filmstripThumbnailHeader What's New
            .filmstripThumbnail
              img(src='http://lorempixum.com/270/80/technics/8', alt='')
            .filmstripThumbnailText
              p
                | Nunc quis nibh nibh. Integer condimentum convallis ligula, vitae auctor orci condimentum nec. Sed nulla urna, venenatis quis consequat eget, ullamcorper.
              p
                a.readMore(href='replaceMe') Learn More >
          li
            .filmstripThumbnailHeader What's New
            .filmstripThumbnail
              img(src='http://lorempixum.com/270/80/technics/3', alt='')
            .filmstripThumbnailText
              p
                | Nunc quis nibh nibh. Integer condimentum convallis ligula, vitae auctor orci condimentum nec. Sed nulla urna, venenatis quis consequat eget, ullamcorper.
              p
                a.readMore(href='replaceMe') Learn More >
