#micrositeSocialMediaFooter
  ul
    li.micrositeSocialMedia-email: a(href='#', title='Email A Friend') E-mail
    li.micrositeSocialMedia-linkedin: a(href='#', title='Add to LinkedIn') LinkedIn
    li.micrositeSocialMedia-facebook: a(href='#', title='Add to Facebook') Facebook
    li.micrositeSocialMedia-twitter: a(href='#', title='Add to Twitter') Twitter
