#micrositeFooter
  .micrositeModuleContainer
    .micrositeFooterBottom
      ul
        li: a(href='http://www.techtarget.com/html/privacy_policy.html') Privacy Statement
        li Copyright © 2013 TechTarget