link(rel='stylesheet', href='css/style.css', type='text/css', media='screen')
script(src='javascript/script.js')
#micrositeContainer
  #micrositeContainerInner
    #micrositeContainerCompress
      #micrositeHeader
        #micrositeHeaderBanner
      #micrositeContent
            #micrositeContentColumnFull
            #micrositeContentColumnLeft
              .contentTabsCaption Tab component 1
              include contentTabs
              .contentTabsCaption Tab component 2
              include contentTabs
              .contentTabsCaption Tab component 3
              include contentTabs
              .contentTabsCaption Tab component 4
              include contentTabs
            #micrositeContentColumnRight