.filmstrip
  .filmstripWindow
    ul.listTypeFilmstrip
      li
        .filmstripThumbnailHeader
          | Blackberry 10: built to
          br
          | keep business moving
        .filmstripThumbnail
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/slide1Bg.jpg', alt='')
        .filmstripThumbnailText
          p The journey beings here. Learn what to expect, today and tomorrow.
          a.readMore(href='replaceMe') Learn More>
      li
        .filmstripThumbnailHeader Meet Blackberry 10
        .filmstripThumbnail
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/slide2Bg.jpg', alt='')
        .filmstripThumbnailText
          p
            | Committed to the enterprise. Setting the standard in mobile
            br
            | security. Unparalleled enterprise mobility management.
          a.readMore(href='replaceMe') Learn More>
      li
        .filmstripThumbnailHeader Control Mobile Chaos
        .filmstripThumbnail
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/slide3Bg.jpg', alt='')
        .filmstripThumbnailText
          p Our award-winning series of video shorts shows you the way.
          a.readMore(href='replaceMe') Learn More>