.micrositeContentGridCaption Blackberry 10 Resources

.micrositeContentGrid
  .contentBlock.doubleTall.blockApps
    a(href='solutions.html#videoId=2116991665001')
      span.tagline
        | Apps on
        br
        | BlackBerry 10:
        br
        | What every
        br
        | developer should
        br
        | know
        span.viewNow View Now
  .contentBlock
    a.pinMiddle(href='replaceMe')
      span.tagline
        | The smart
        br
        | choice for
        br
        | multi-platform
        br
        | BYOD
        span.viewNow View Now
  .contentBlock.doubleWide.blockEntMob
    a.pinMiddle(href='replaceMe')
      span.tagline
        | Effective enterprise
        br
        | mobility management
        span.viewNow View Now
  .contentBlock
    a.pinMiddle(href='solutions.html#videoId=1643104443001')
      span.tagline
        | A better approach
        br
        | to mobile security
        span.viewNow View Now
  .contentBlock.blockTwit
    a.pinMiddle(href='replaceMe')
      span.tagline
        | @BlackBerry4Biz
        br
        | on Twitter
        span.viewNow View Now
  .contentBlock
    a.pinMiddle(href='solutions.html#videoId=2129615613001')
      span.tagline
        | Transitioning to
        br
        | BlackBerry 10:
        br
        | Tools and services
        span.viewNow View Now