.micrositeContentGridCaption Blackberry 10 Resources

.micrositeContentGrid
  .contentBlock.doubleTall.blockCustExpect
    a(href='replaceMe')
      span.tagline
        | What BlackBerry
        br
        | customers can
        br
        | expect, today and
        br
        | tomorrow
        span.viewNow View Now
  .contentBlock
    a.pinMiddle(href='replaceMe')
      span.tagline
        | Inside BlackBerry
        br
        | for business blog
        span.viewNow View Now
  .contentBlock.doubleWide.blockMDM
    a.pinMiddle(href='challenges.html#videoId=1832858253001')
      span.tagline
        | MDM software:
        br
        | ID not required
        span.viewNow View Now
  .contentBlock
    a.pinMiddle(href='replaceMe')
      span.tagline
        | Top 10 Tips:
        br
        | Get ready for
        br
        | BlackBerry 10
        span.viewNow View Now
  .contentBlock
    a.pinMiddle(href='challenges.html#videoId=1643120880001')
      span.tagline
        | Security begins at
        br
        | the back end
        span.viewNow View Now
  .contentBlock
    a.pinMiddle(href='replaceMe')
      span.tagline
        | Best practices
        br
        | in BYOD:
        br
        | BlackBerry
        br
        | Enterprise
        br
        | Service 10
        span.viewNow View Now