.micrositeContentGridCaption Blackberry 10 Resources

.micrositeContentGrid
  .contentBlock.doubleTall.blockBiz
    a(href='challenges.html#videoId=2129612395001')
      span.tagline
        | BlackBerry 10:
        br
        | Built for business.
        br
        | Built for you.
        br
        span.viewNow View Now
  .contentBlock
    a.pinMiddle(href='replaceMe')
      span.tagline
        | Setting a new
        br
        | standard in
        br
        | enterprise security
        span.viewNow View Now
  .contentBlock.doubleWide.blockTopTen
    a.pinMiddle(href='replaceMe')
      span.tagline
        | Top 10 tips:
        br
        | Get ready for
        br
        | BlackBerry 10
        span.viewNow View Now
  .contentBlock
    a.pinMiddle(href='replaceMe')
      span.tagline
        | Seamlessly
        br
        | transition to
        br
        | BlackBerry 10
        span.viewNow View Now
  .contentBlock
    a.pinMiddle(href='replaceMe')
      span.tagline
        | Inside BlackBerry
        br
        | for business blog
        span.viewNow View Now
  .contentBlock.blockMega
    a(href='challenges.html#videoId=1643143173001')
      span.tagline
        | Your smartphone
        br
        | isn't a megaphone
        span.viewNow View Now