extends layout

block content
  #micrositeContainer
    #micrositeContainerInner
      #micrositeContainerCompress
        #micrositeHeader
          #micrositeHeaderBanner
          - var thisPage = 'Mobile Chaos Solutions'
          include navigation
        #micrositeContent
          #micrositeContentColumnFull
            // BEGIN: featured video component
            include featuredVideo-solutions
            // BEGIN: content matrix component
            include contentMatrix-solutions
        include footer