/* bitpipe abstract */
.resDetail { background-color: #fff; overflow: hidden; padding: 30px 50px; }

.resTitleLogo { clear: both; margin-bottom: 20px; overflow: hidden; width: 100%;
  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px !important; 
    
    a { color: #15204f; }
  }
  
  h4 {
    color: #666;
    font-size: 12px;
    font-weight: normal;
  }
}

.resAbstract {
  clear: both;
  overflow: hidden;
  width: 100%;
  
  .col1 {
    float: left;
    padding-right: 25px;
    width: 190px; 
    
    td {
      font-size: 12px;
      padding: 0 25px 5px 0;
      vertical-align: top;
      
      strong { font-weight: bold; }
    }
  }
  .col2 {
    float: left; width: 605px; 
    
    .abstract {
      border-top: 1px solid #ccc;
      padding: 10px 0 0;
    }
    
    h5 {
      font-size: 11px;
      font-weight: bold;
      margin-bottom: 10px;
      padding-top: 2px;
      text-transform: uppercase;
    }
    
    p { margin-bottom: 10px; }
    
    a.viewNow {
      background: url(../images/viewNowGradient.png) repeat-x 0 0;
      border-radius: 8px;
      color: #fff !important;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      margin: 10px 0 20px;
      padding: 5px 30px;
      text-align: center;
      
      &:hover {
        box-shadow: 0 2px 2px rgba(0,0,0,0.15);
        text-decoration: none !important;
      }
    }
  }
}