@font-face {
  font-family: 'LubalinGraph';
  src: url('http://media.techtarget.com/HP/fonts/LubalinGraph.eot');
  src: url('http://media.techtarget.com/HP/fonts/LubalinGraph.eot?#iefix') format('embedded-opentype'),
       url('http://media.techtarget.com/HP/fonts/LubalinGraph.woff') format('woff'),
       url('http://media.techtarget.com/HP/fonts/LubalinGraph.ttf') format('truetype'),
       url('http://media.techtarget.com/HP/fonts/LubalinGraph.svg#LubalinGraph') format('svg');
  font-weight: normal;
  font-style: normal;
}