extends layout

block content
  #micrositeContent
    // BEGIN: bitpipe abstract
    .resDetail
      .resTitleLogo
        .alignLeft
          h3
            a(href='#', funccat='dnld', contentcat='dnld:article', onclick='bizcardAPI("1329944508_636")') What To Look For In Solutions For Mobile Device Management
          h4 sponsored by BlackBerry
        .alignRight
          img(alt='BlackBerry', src='http://cdn.ttgtmedia.com/bitpipe/logos/logo_990469824_534.gif')
      .resAbstract
        .col1
          table(width='100%', cellspacing='0', cellpadding='0')
            tbody
              tr
                td
                  strong Posted:
                td 12 Mar 2012
              tr
                td
                  strong Published:
                td 9 Mar 2012
              tr
                td
                  strong Type:
                td White Paper
        .col2
          .abstract
            h5 ABSTRACT:
            p
              | Learn what you should be looking for when choosing a Mobile Device Management (MDM) solution provider. Also uncover the key attributes of one solution that includes key features including security, manageability, stability, and technical/customer support.
          a.viewNow(href='#', funccat='dnld', contentcat='dnld:article', onclick='bizcardAPI("1329944508_636")') View Now
    // END: bitpipe abstract
