/* normalize browser defaults as much as possible */

/* base */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

/* html5 display definitions */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
[hidden] { display: none; }

/* 'namespace' as much of normalize as possible due to embedded microsites */
#micrositeContainer { color: #000; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }
#micrositeContainer h1, #micrositeContainer h2, #micrositeContainer h3, #micrositeContainer h4, #micrositeContainer h5, #micrositeContainer h6 { line-height: 1em; margin: 0 0 1em; padding: 0; }
#micrositeContainer p { margin: 0 0 1em; }
#micrositeContainer a { color: #3580d1; text-decoration: none; }
#micrositeContainer a:visited { color: #3580d1; }
#micrositeContainer a:hover { color: #3580d1; text-decoration: underline; }
#micrositeContainer a:focus { border: none; }
#micrositeContainer a:hover, #micrositeContainer a:active { outline: 0; }
#micrositeContainer b, #micrositeContainer strong { font-weight: bold; }
#micrositeContainer blockquote { margin: 1em 40px; }
#micrositeContainer hr { border-top: 1px solid #ccc; border: 0; display: block; height: 1px; margin: 1em 0; padding: 0; }
#micrositeContainer pre, #micrositeContainer code, #micrositeContainer kbd, #micrositeContainer samp { _font-family: 'courier new', monospace; font-family: monospace, serif; font-size: 1em; }
#micrositeContainer pre { white-space: pre-wrap; white-space: pre; word-wrap: break-word; }
#micrositeContainer small { font-size: 85%; }
#micrositeContainer sub, #micrositeContainer sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
#micrositeContainer sup { top: -0.5em; }
#micrositeContainer sub { bottom: -0.25em; }
#micrositeContainer ul, #micrositeContainer ol { margin: 1em 0; padding: 0 0 0 40px; }
#micrositeContainer dd { margin: 0 0 0 40px; }
#micrositeContainer nav ul, #micrositeContainer nav ol { list-style-image: none; list-style: none; margin: 0; padding: 0; }
#micrositeContainer img { -ms-interpolation-mode: bicubic; border: 0; vertical-align: middle; }
#micrositeContainer figure { margin: 0; }
#micrositeContainer table { border-collapse: collapse; border-spacing: 0; }
#micrositeContainer th #micrositeContainer td { vertical-align: top; } 

/* ColorBox Core Styles */
#colorbox, #cboxOverlay, #cboxWrapper { left: 0; overflow: hidden; position: absolute; top: 0; }
#cboxOverlay { height: 100%; position: fixed; width: 100%; }
#cboxMiddleLeft, #cboxBottomLeft { clear: left; }
#cboxContent { position: relative; }
#cboxLoadedContent { overflow: auto; }
#cboxTitle { margin: 0; }
#cboxLoadingOverlay, #cboxLoadingGraphic { height: 100%; left: 0; position: absolute; top: 0; width: 100%; }
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer; }
.cboxPhoto { border: 0; display: block; float: left; margin: auto; }
.cboxIframe { border: 0; display: block; height: 100%; width: 100%; }
/* ColorBox User Styles */
#colorbox, #cboxOverlay, #cboxWrapper { z-index: 999999; }
#cboxOverlay { background-color: #000; }
#cboxClose { position: absolute; top: 0 !important; right: 0 !important; display: block; background: url(../images/lightboxClose.png) no-repeat 0 0 !important; width: 31px !important; height: 31px !important; white-space: nowrap; overflow: hidden; text-indent: 100%; }
#cboxLoadedContent { background: #000; background: rgba(0, 0, 0, 0.75) url(../images/backgroundColorboxSpinner.gif) no-repeat center center; border-color: #000; border: 10px solid rgba(0, 0, 0, 0.25); border-radius: 6px; }
#cboxContent { padding: 20px; }
#cboxTitle { background: #000; background: rgba(0, 0, 0, 0.50); bottom: 0; color: #fff; left: 0; position: absolute; line-height: 1; text-align: center; text-indent: 10px; margin: 0 30px 30px; }
#cboxTitle div { padding: 10px; }

/* social media */
#micrositeSocialMediaNav, #micrositeSocialMediaFooter { position: absolute; }
#micrositeSocialMediaNav { right: 0; top: 80px; }
#micrositeSocialMediaFooter { right: 20px; top: 35px; }
#micrositeSocialMediaNav ul, #micrositeSocialMediaFooter ul { float: left; list-style: none; margin: 0; padding: 0; }
#micrositeSocialMediaNav li, #micrositeSocialMediaFooter li { display: block; float: left; line-height: 0; margin: 0 0 0 8px; }
#micrositeSocialMediaNav li > a, #micrositeSocialMediaFooter li > a { background-image: url(../images/spriteSocialMedia.png); background-repeat: no-repeat; display: block; position: relative; white-space: nowrap; overflow: hidden; text-indent: 100%; }
.micrositeSocialMedia-facebook a { background-position: -38px 0; height: 17px; top: 1px; width: 17px; }
.micrositeSocialMedia-linkedin a { background-position: -56px 0; height: 17px; top: 1px; width: 17px; }
.micrositeSocialMedia-twitter a { background-position: -74px 0; height: 17px; top: 1px; width: 17px; }
.micrositeSocialMedia-email a { background-position: -110px 0; height: 20px; top: 0; width: 26px; }
.micrositeSocialMediaNavExtrapadding { display: none; } /* this is really annoying... needs to go away */

/* default selectors */
#micrositeContainer { background: #f6f6f6; }
#micrositeContainerInner { background: #fff url(../images/micrositeContainerBackground.png) repeat-x 0 0; margin: 0 auto; width: 950px; padding: 0 20px; }
#micrositeContainerCompress { }

#micrositeContent { font-size: 80%; overflow: hidden; padding: 0 25px; }
#micrositeContent h2 { font-size: 30px; margin: 0 0 10px; }
#micrositeContentColumnFull {  }
#micrositeContentColumnLeft { width: 560px; float: left; padding: 0 20px 0 0; border-right: 1px solid #ddd; }
#micrositeContentColumnRight { width: 300px; float: right; }

#micrositeHeader { position: relative; margin: 0 0 20px; }
#micrositeHeaderBanner { background: url(../images/micrositeHeaderBannerBackground.png) no-repeat 10px 20px; padding-top: 140px; }
#micrositeHeaderBanner h1 { margin: 0; line-height: 0; white-space: nowrap; overflow: hidden; text-indent: 100%; }

#micrositeHeaderNavigation { border-bottom: 8px solid #3580d1; margin: 0 25px 25px; }
#micrositeHeaderNavigation ul { list-style: none; margin: 0 !important; padding: 0 !important; overflow: hidden; }
#micrositeHeaderNavigation li { display: block; float: left; margin: 0 0 0 15px; }
#micrositeHeaderNavigation li:first-child { margin: 0; }
#micrositeHeaderNavigation li a { background: #7d7d7d; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; display: inline-block; width: 290px; color: #fff !important; letter-spacing: 1px; line-height: 38px; font-size: 16px; text-align: center; }
#micrositeHeaderNavigation li a:hover, .micrositeTabsNavigation li a:focus { background: #3580d1 !important; text-decoration: none !important; }
#micrositeHeaderNavigation li.active a, #micrositeHeaderNavigation li.first a, #micrositeHeaderNavigation li.on a { background: #3580d1 !important; cursor: default; }




#micrositeFooter { clear: both; position: relative; background: url(../images/micrositeContainerInnerBackground.png) repeat-x 0 bottom; margin: 0 -20px; padding: 0 20px; }
#micrositeFooter .micrositeFooterBottom { background: url(../images/footerLogo.png) no-repeat 0 20px; font-size: 12px; min-height: 45px; padding: 20px 0; }
#micrositeFooter .micrositeFooterBottom ul { list-style: none; margin: 0; overflow: hidden; padding: 28px 0 0 100px; }
#micrositeFooter .micrositeFooterBottom li { float: left; padding-right: 10px; }
#micrositeFooter .micrositeFooterBottom a { color: #00a89c; }
#micrositeFooter .micrositeFooterBottom p { margin: 10px 0 0 100px; }









/* featured tabs module */  
.micrositeModuleFeaturedTabs { display: none; }
.micrositeModuleFeatured { height: 450px; overflow: auto; margin-bottom: 25px; width: 100%; }
.micrositeModuleFeaturedOutput { max-width: 525px; list-style: none; margin: 0 !important; padding: 0 !important; }
.micrositeFeaturedRelatedBody {  padding: 0; }
.micrositeFeaturedImage { float: left; margin: 0 10px 0 0; }
.micrositeFeaturedInfo { margin: 0 0 0 90px; }
.micrositeFeaturedInfo h3 { display: none; }
.micrositeFeaturedInfo h4 { font-size: 16px; margin: 0 0 10px !important; }  
.micrositeFeaturedInfo p { font-size: 14px; text-align: right; }
.micrositeImageNoWrap { clear: both; margin: 0 0 25px 0; }

.micrositeFeaturedRelated { display: none; }
 
#micrositeContentColumnLeft h3 { font-size: 30px; margin: 0 0 15px; } 
#micrositeContentColumnRight h3 { color: #3580D1; }

#micrositeContentColumnRight .micrositeModuleContainer { padding: 0 0 20px; margin: 0 0 30px; border-bottom: dotted 1px #666; }


/* bitpipe abstract */
.resDetail { overflow: hidden; padding: 30px 80px; }
.resTitleLogo { clear: both; margin-bottom: 20px; overflow: hidden; width: 100%; }
.resTitleLogo h3 { font-size: 15px; font-weight: bold; margin-bottom: 2px !important; }
.resTitleLogo h3 a { color: #15204f; }
.resTitleLogo h4 { color: #666; font-size: 12px !important; font-weight: normal; }
.resAbstract { clear: both; overflow: hidden; width: 100%; }
.resAbstract .col1 { float: left; padding-right: 25px; width: 190px; }
.resAbstract .col1 td { padding: 0 25px 5px 0; vertical-align: top; }
.resAbstract .col1 td strong { font-weight: bold; }
.resAbstract .col2 { float: left; width: 520px; }
.resAbstract .col2 h5 { border-top: 1px solid #ccc; font-size: 11px; font-weight: bold; margin-bottom: 10px; padding-top: 5px !important; text-transform: uppercase; }
.resAbstract .col2 p { margin-bottom: 10px; }
.resAbstract .col2 a.viewNow { background: url(../images/viewNowGradient.png) repeat-x 0 0; border-radius: 8px; color: #fff !important; display: inline-block; font-size: 14px; font-weight: bold; line-height: 1; margin: 10px 0 20px; padding: 10px 30px; text-align: center; }
.resAbstract .col2 a.viewNow:hover { box-shadow: 0 2px 2px rgba(0,0,0,0.15); text-decoration: none !important; }
.alignLeft { float: left; }
.alignRight { float: right; } 


/* carousel slide projector */
.carouselSlideProjector { margin: 0 0 30px; }
.carouselSlideProjector ul { margin: 0 !important; padding: 0 !important; list-style: none; }
.projection { height: 285px; width: 100%; position: relative; overflow: hidden; }
.projection ul { }
.projection li { position: absolute; text-align: center; top: 285px; }
.projection li:first-child { top: 0; }
.projection img { cursor: pointer; }
.projection .caption { position: relative; color: red; background-color: #eee; display: none; }
.projection h2 { font-size: 30px; position: absolute; width: 300px; top: 20px; left: 30px; line-height: 1.15; }
.projection h3 { font-size: 15px; position: absolute; width: 400px; top: 106px; left: 30px; }
.projection .caption h3 a { color: #fff !important; display: block; margin-top: 20px;  }
.slides { overflow: hidden; position: relative; }
.slides ul { overflow: hidden; max-height: 80px; min-height: 80px; width: 200%; position: relative; }
.hasControls ul { margin: 0 41px !important; }
.slides li { display: block; float: left; cursor: pointer; padding: 10px; width: 296px; border-left: 1px solid #ccc; overflow: hidden; line-height: 1.2; *line-height: 60px; }
.slides li { -webkit-transition: background-color .5s; -moz-transition: background-color .5s; -ms-transition: background-color .5s; -o-transition: background-color .5s; transition: background-color .5s; }
.slides li.active, .slides li:hover { background-color: #eee; -webkit-transition: background-color .5s; -moz-transition: background-color .5s; -ms-transition: background-color .5s; -o-transition: background-color .5s; transition: background-color .5s; } 
.hasControls li { width: 270px; }
.slides li:first-child { margin-left: -1px; }
.slides img { height: 60px; width: 95px; float: left; margin: 0 10px 0 0; display: block; }
.slides span { overflow: hidden; display: table-cell; height: 60px; vertical-align: middle; *display: block; }
.slideControls { display: none; height: 80px; width: 40px; position: absolute; top: 0; }
.hasControls .slideControls { display: block; }
.slideControls.previous { background: #ddd url(../images/slideControlPreviousOn.png) no-repeat 50% 50%; left: 0; border-right: 1px solid #ccc; white-space: nowrap; overflow: hidden; text-indent: 100%; }
.slideControls.next { background: #ddd url(../images/slideControlNextOn.png) no-repeat 50% 50%; right: 0; border-left: 1px solid #ccc; white-space: nowrap; overflow: hidden; text-indent: 100%; }
.slideControls.previous.disabled { background-image: url(../images/slideControlPreviousOff.png); }
.slideControls.next.disabled { background-image: url(../images/slideControlNextOff.png); }






/* JScrollpane styles */
.jspContainer {overflow: hidden;position: relative;}
.jspPane {position: absolute;}
.jspVerticalBar {position: absolute;top: 0;right: -10px;width: 16px;height: 100%;background: white;}
.jspHorizontalBar {position: absolute;bottom: 0;left: 0;width: 100%;height: 16px;background: white;}
.jspVerticalBar *, .jspHorizontalBar * {margin: 0;padding: 0;}
.jspCap {display: none;}
.jspHorizontalBar .jspCap {float: left;}
.jspTrack {background: #ccc;position: relative;width:1px;}
.jspDrag {background: #999;position: relative;top: 0;left: -4px;cursor: pointer;width:9px;border-radius:7px;}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {float: left;height: 100%;}
.jspArrow {background: #50506d;text-indent: -20000px;display: block;cursor: pointer;}
.jspArrow.jspDisabled {cursor: default;background: #80808d;}
.jspVerticalBar .jspArrow {height: 16px;}
.jspHorizontalBar .jspArrow {width: 16px;float: left;height: 100%;}
.jspVerticalBar .jspArrow:focus {outline: none;}
.jspCorner {background: #eeeef4;float: left;height: 100%;}