#featuredVideo.featuredVideo
  .featuredVideoPlayer
    object#givethisplayeranid.BrightcoveExperience
      param(name='bgcolor', value='#000000')
      param(name='wmode', value='opaque')
      param(name='width', value='640')
      param(name='height', value='360')
      param(name='playerID', value='2117382598001')
      param(name='playerKey', value='AQ~~,AAAAAFGE4wo~,g57wOIK2TXKMBHTPnffWcp0t79yQC9T_')
      param(name='isVid', value='true')
      param(name='isUI', value='true')
      param(name='dynamicStreaming', value='true')
      param(name='includeAPI', value='true')
      param(name='templateLoadHandler', value='brightcovePlayerLoaded')
      param(name='templateReadyHandler', value='brightcovePlayerReady')
  .featuredVideoPlaylist
    ul
      li(data-video-id='1897188942001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_67.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #67: Hackers Will Try Anything
      li(data-video-id='1871056203001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_24.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #24: Tablets aren't Toys
      li(data-video-id='1871107119001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_33.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #33 MDM Newsreel
      li(data-video-id='1834784326001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_71.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #71: Not all Applications are Created Equal
      li(data-video-id='1832858263001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_3.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #3: A Lost Phone is no Reason to Panic
      li(data-video-id='1832858253001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_49.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #49: Picture ID Not Required When Using MDM Software
      li(data-video-id='1828362629001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_75.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #75: Don't Treat Lucky Caller #7 Like a Security Threat
      li(data-video-id='1785579854001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_28.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #28: Human Device Lock
      li(data-video-id='1785590334001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_111.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #111: An Unprotected Cell Phone is a Huge Risk. A Brick Isn't
      li(data-video-id='1785136996001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_98.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #98: It Always Starts With Just One Request
      li(data-video-id='1768317771001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_131.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #131: No Device- Personal or Work- Operates When Wet
      li(data-video-id='1766325439001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_174.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #174: Don't Risk the Business Over Four Digits
      li(data-video-id='1745733539001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_11.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #11: Don't Pay the Price of Free Apps
      li(data-video-id='1730775741001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_67_Mulitple%20Devices.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #67: Multiple Devices Create Multiple Problems
      li(data-video-id='1727315889001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_84.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #84: Sloppiness is a choice. MDM isn't
      li(data-video-id='1711303860001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_114.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #114: They Can't Outrun MDM
      li(data-video-id='1697332157001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_72.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #72 Tee Up MDM for Secure Access, Anywhere
      li(data-video-id='1677122305001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_336.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #336: All QR Codes Aren't Created Equal, or Secure
      li(data-video-id='1643143173001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_116.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #116: Without Security, a Smartphone is a Megaphone
      li(data-video-id='1643104443001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_471.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #471: Blocking Attachments Isn't the Answer
      li(data-video-id='1643120878001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_782.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #782: Blocking App-by-App is Futile
      li(data-video-id='1643104441001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_118.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #118: It Doesn't Take a Wizard to Undermine Security
      li(data-video-id='1643120880001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/rimembracingmobilechaos2/images/Tip_297.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #297: Secure Environments Come from Secure Back Ends
