link(rel='stylesheet', href='css/style.css', type='text/css', media='screen')
script(src='javascript/script.js')
#micrositeContainer
  #micrositeContainerInner
    #micrositeContainerCompress
      #micrositeHeader
        #micrositeHeaderBanner
          .micrositeModuleContainer
            h1 IT Consumerization Corner
      #micrositeContent
        #micrositeContentColumnFull
          include featuredVideo
        #micrositeContentColumnLeft
          include contentTabs
          //- include ct
          include customSplash3col
        #micrositeContentColumnRight
          img(src="images/placeholder-rightCol.png")