- var items = ['Item Title 1', 'Item Title 2', 'Item Title 3', 'Item Title 4', 'Item Title 5', 'Item Title 6', 'Item Title 7', 'Item Title 8']

mixin itemContent(item)
  .contentAccordionItemTitle #{item}
    span.contentAccordionItemToggleIcon
  .contentAccordionItemBody.oneColList
    ul
      //- - for (var i = 0; i < 4; ++i) {
      //-   li
      //-     //- h4: a(href='replaceMe') @Html.Ipsum.h4(5)
      //-     a Three Options for Optimizing Flash in Your Storage Infrastructure
      //-     //- p: a.viewNow(href='replaceMe') &gt; View Now
      //- - }
      li
        a(href="three_options.html") Three Options for Optimizing Flash in Your Storage Infrastructure
      li
        a(href="article.html") How to Eliminate Planned Downtime for Storage Systems
      li
        a(href="#") NetApp Data ONTAP Is Now the Industry’s No. 1 Storage OS
      li
        a(href="#") CERN Unlocks Secrets Of The Universe With An Agile Data Infrastructure

.contentAccordion
  each item in items
    - if (item == 'Item Title 1')
      .contentAccordionItem(data-accordion-open="true")
        mixin itemContent(item)
    - else
      .contentAccordionItem
        mixin itemContent(item)
