extends layoutEmbedded

block content
  #micrositeContainer
    #micrositeContainerTopic
      #micrositeContainerInner
        #micrositeContainerCompress
          #micrositeHeader
            #micrositeHeaderBanner
              .micrositeModuleContainer
                img(src="images/headerGraphic.png")
        .contentContainer
          .leftColumn
            .micrositeContentMoreTopics
              p Article Topics
              include contentAccordion
          .rightColumn
            h2 Introductory Title for NetApp Insights Goes Here
            p Storage is a game-changing technology for the storage industry. When combined with intelligent caching software, storage can speed access to critical data and improve the efficiency of your entire data infrastructure. With optimized storage, you can accelerate application performance by up to 90%, scale virtual desktop configurations to 50,000 seats, and reduce capacity, rack space, and power requirements by over 50%.
            hr
            h3: a(href="#") Three Options for Optimizing Flash in Your Storage Infrastructure
            p When combined with <a href="#">intelligent caching software</a>, flash can speed access to critical data and improve the efficiency of your entire storage infrastructure.
            
            h3: a(href="#") How to Eliminate Planned Downtime for Storage Systems
            p When combined with <a href="#">intelligent caching software</a>, flash can speed access to critical data and improve the efficiency of your entire storage infrastructure.
            
            h3: a(href="#") NetApp Data ONTAP Is Now the Industry’s No. 1 Storage OS
            p When combined with <a href="#">intelligent caching software</a>, flash can speed access to critical data and improve the efficiency of your entire storage infrastructure.
            
            h3: a(href="#") CERN Unlocks Secrets Of The Universe With An Agile Data Infrastructure
            p When combined with <a href="#">intelligent caching software</a>, flash can speed access to critical data and improve the efficiency of your entire storage infrastructure.

            h3: a(href="#") Three Options for Optimizing Flash in Your Storage Infrastructure
            p When combined with <a href="#">intelligent caching software</a>, flash can speed access to critical data and improve the efficiency of your entire storage infrastructure.
            
            h3: a(href="#") How to Eliminate Planned Downtime for Storage Systems
            p When combined with <a href="#">intelligent caching software</a>, flash can speed access to critical data and improve the efficiency of your entire storage infrastructure.
            
            h3: a(href="#") NetApp Data ONTAP Is Now the Industry’s No. 1 Storage OS
            p When combined with <a href="#">intelligent caching software</a>, flash can speed access to critical data and improve the efficiency of your entire storage infrastructure.
            
            h3: a(href="#") CERN Unlocks Secrets Of The Universe With An Agile Data Infrastructure
            p When combined with <a href="#">intelligent caching software</a>, flash can speed access to critical data and improve the efficiency of your entire storage infrastructure.