extends layout

block content
  #micrositeContainer
    #micrositeContainerInner
      #micrositeContainerCompress
        #micrositeHeader
          #micrositeHeaderBanner
            .micrositeModuleContainer
              h1 New microsite h1
          - var thisPage = 'Page2'
          include navigation
        #micrositeContent
          #micrositeContentColumnFull
          #micrositeContentColumnLeft
          #micrositeContentColumnRight
        include footer