extends layoutEmbedded

block content
  #micrositeContainer
    #micrositeContainerInner
      #micrositeContainerCompress
        #micrositeHeader
          #micrositeHeaderBanner
            .micrositeModuleContainer
              img(src="images/headerGraphic.png")
        .contentContainer
          .leftColumn
            .leftColumnNav
              h4 Storage & Business
              ul
                li
                  div
                    a(href="three_options.html") Three Options for Optimizing Flash in Your Storage Infrastructure
                li
                  div
                    a(href="article.html") How to Eliminate Planned Downtime for Storage Systems
                li
                  div
                    a(href="replaceMe.html") NetApp Data ONTAP Is Now the Industry’s No. 1 Storage OS
                li
                  div
                    a(href="replaceMe.html") CERN Unlocks Secrets Of The Universe With An Agile Data Infrastructure
                li
                  div
                    a(href="#") See More Articles
            .micrositeContentMoreTopics
              p More Topics
              include contentAccordion
          .rightColumn
            h2 Three Options for Optimizing Flash in Your Storage Infrastructure
            .author: p By Paul Feresten, NetApp
            p Lorem ipsum dolor sit amet, <a href-"#">consectetur adipiscing</a> elit. Aenean posuere eleifend neque, ut placerat libero posuere ac. Donec a dui urna. Maecenas ullamcorper magna eget leo convallis vel hendrerit nulla varius. Phasellus libero velit, fermentum vel tincidunt ac, consectetur nec lectus. Duis eget magna at eros scelerisque ultricies. Nulla pellentesque molestie purus, quis ornare arcu hendrerit sed. Nam urna quam, accumsan vel gravida sed, ultricies ut elit. Cras in lorem leo. Suspendisse facilisis, sem nec eleifend scelerisque, risus purus cursus est, vitae aliquet augue magna vel nulla. Vestibulum fringilla ullamcorper urna, ut venenatis orci gravida in. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

            .upcomingEvents
              h2 Upcoming NetApp Events
              ul
                li 
                  a(href="#") Microsite Management Summit
                  p April 8-12, 2013 <br> Mandalay Bay, Las Vegas
                li 
                  a(href="#") Microsite Management Summit
                  p April 8-12, 2013 <br> Mandalay Bay, Las Vegas
                li 
                  a(href="#") Microsite Management Summit
                  p April 8-12, 2013 <br> Mandalay Bay, Las Vegas
              a(href="#") > More Events
            p some contentp Vestibulum ante <a href-"#">ipsum primis</a> in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur risus nisl, fringilla sed vestibulum eget, luctus nec diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec et quam nisi. Ut eu turpis lorem. Suspendisse quam diam, porta non ultricies id, sollicitudin non purus. Etiam volutpat venenatis tellus, a tempor quam lobortis eget. Aliquam erat volutpat. Aliquam nec euismod tellus. Suspendisse feugiat, risus id eleifend auctor, nibh risus gravida ligula, vitae consequat mauris ipsum ac tellus. Aliquam eget risus ligula, at consectetur tellus. Pellentesque commodo congue elit vitae dignissim. Phasellus mauris tellus, dapibus fermentum varius non, placerat sit amet felis. Donec malesuada turpis eu urna suscipit sed tempor lorem pellentesque.

            p Donec gravida, enim ac <a href-"#">tempus egestas</a>, ante sapien pretium augue, tristique eleifend justo massa sit amet odio. Sed tortor elit, convallis ut ultricies eget, dignissim at nulla. Pellentesque ut vulputate tellus. Maecenas lobortis convallis ipsum a fringilla. Integer lacinia arcu a quam ultrices eu sodales sem vestibulum. Duis placerat quam ullamcorper tellus commodo at tincidunt odio luctus. Curabitur ut ipsum nisl. Donec tincidunt bibendum justo, vel dignissim velit imperdiet nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus diam dolor, ultricies et feugiat quis, semper et augue. Vestibulum interdum nulla tincidunt ante pellentesque sagittis. Fusce eget sapien sit amet lorem ultrices pulvinar varius nec massa. Suspendisse tincidunt ornare dignissim.

            blockquote: p <img src="images/blockquoteIcon.png" />Cras sed porta orci. Nullam aliquam scelerisque est, vel adipiscing est ultrices quis. Sed ultrices placerat nibh vel eleifend. Etiam placerat rhoncus nunc, quis placerat dui suscipit in. Vestibulum tristique euismod libero, sit 

            p Duis eu ligula ornare massa scelerisque mattis imperdiet quis velit. Cras condimentum ipsum id orci tempus a molestie nunc bibendum. Nam enim nulla, pretium eget tempus ut, vulputate ac nunc. Vivamus molestie lacus non nulla euismod bibendum. Nulla non risus felis. Nam nec ligula vitae magna volutpat convallis. Nunc vel mollis enim. Vestibulum dictum viverra lectus. Quisque porttitor aliquet mi vel volutpat. Praesent mi urna, tempor sit amet rutrum ac, suscipit adipiscing odio. Nulla facilisi. Vestibulum eu diam elementum mi accumsan blandit in nec lacus. Vestibulum scelerisque placerat diam at tincidunt. Nulla convallis ipsum eu eros faucibus sed molestie nisi ultrices.

