/* for embedded microsites */
#micrositeAdvertisement { 
	border:1px solid #b1b1b1; 
	border-bottom:none;
	height: 25px; 
	background-color: #999; 
	color: #fff; 
	margin: 15px 0 0 0;  
	overflow: hidden;

	img{
		float:left;
		margin: 4px 15px 0;
	}

	a{background:url("../images/whatsThisArrow.png")no-repeat 0 4px;color:#fff;float:left;font-size: 12px;margin:5px 0 0;padding:0 10px;text-decoration: none;
	&:hover{text-decoration:none !important;}
	}
}
#micrositeAdvertisement #micrositeClose { float: right; border-left: 1px solid #b1b1b1; }
#micrositeAdvertisement #micrositeClose a { font-weight: bold; background: url(../images/iconMicrositeClose.png) 7px 3px no-repeat; line-height: 17px; padding: 0 10px 0 20px; display: block; font-size: 12px; color: #fff; }
#micrositeAdvertisement #micrositeClose a:hover { text-decoration: none; }