/* last update: 2013-02-22 */

@font-face {
    font-family: 'HPSimplifiedBold';
    src: url('http://media.techtarget.com/HP/fonts/hpsimplified_bd-webfont.eot');
    src: url('http://media.techtarget.com/HP/fonts/hpsimplified_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://media.techtarget.com/HP/fonts/hpsimplified_bd-webfont.woff') format('woff'),
         url('http://media.techtarget.com/HP/fonts/hpsimplified_bd-webfont.ttf') format('truetype'),
         url('http://media.techtarget.com/HP/fonts/hpsimplified_bd-webfont.svg#HPSimplifiedBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HPSimplifiedBoldItalic';
    src: url('http://media.techtarget.com/HP/fonts/hpsimplified_bdit-webfont.eot');
    src: url('http://media.techtarget.com/HP/fonts/hpsimplified_bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://media.techtarget.com/HP/fonts/hpsimplified_bdit-webfont.woff') format('woff'),
         url('http://media.techtarget.com/HP/fonts/hpsimplified_bdit-webfont.ttf') format('truetype'),
         url('http://media.techtarget.com/HP/fonts/hpsimplified_bdit-webfont.svg#HPSimplifiedBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HPSimplifiedItalic';
    src: url('http://media.techtarget.com/HP/fonts/hpsimplified_it-webfont.eot');
    src: url('http://media.techtarget.com/HP/fonts/hpsimplified_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://media.techtarget.com/HP/fonts/hpsimplified_it-webfont.woff') format('woff'),
         url('http://media.techtarget.com/HP/fonts/hpsimplified_it-webfont.ttf') format('truetype'),
         url('http://media.techtarget.com/HP/fonts/hpsimplified_it-webfont.svg#HPSimplifiedItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HPSimplifiedLightRegular';
    src: url('http://media.techtarget.com/HP/fonts/hpsimplified_lt-webfont.eot');
    src: url('http://media.techtarget.com/HP/fonts/hpsimplified_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://media.techtarget.com/HP/fonts/hpsimplified_lt-webfont.woff') format('woff'),
         url('http://media.techtarget.com/HP/fonts/hpsimplified_lt-webfont.ttf') format('truetype'),
         url('http://media.techtarget.com/HP/fonts/hpsimplified_lt-webfont.svg#HPSimplifiedLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HPSimplifiedLightItalic';
    src: url('http://media.techtarget.com/HP/fonts/hpsimplified_ltit-webfont.eot');
    src: url('http://media.techtarget.com/HP/fonts/hpsimplified_ltit-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://media.techtarget.com/HP/fonts/hpsimplified_ltit-webfont.woff') format('woff'),
         url('http://media.techtarget.com/HP/fonts/hpsimplified_ltit-webfont.ttf') format('truetype'),
         url('http://media.techtarget.com/HP/fonts/hpsimplified_ltit-webfont.svg#HPSimplifiedLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HPSimplifiedRegular';
    src: url('http://media.techtarget.com/HP/fonts/hpsimplified_rg-webfont.eot');
    src: url('http://media.techtarget.com/HP/fonts/hpsimplified_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://media.techtarget.com/HP/fonts/hpsimplified_rg-webfont.woff') format('woff'),
         url('http://media.techtarget.com/HP/fonts/hpsimplified_rg-webfont.ttf') format('truetype'),
         url('http://media.techtarget.com/HP/fonts/hpsimplified_rg-webfont.svg#HPSimplifiedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* base */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

/* html5 display definitions */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
[hidden] { display: none; }

/* 'namespace' as much of normalize as possible due to embedded microsites */
#micrositeContainer { color: #000; }
#micrositeContainer h1, #micrositeContainer h2, #micrositeContainer h3, #micrositeContainer h4, #micrositeContainer h5, #micrositeContainer h6 { line-height: 1em; margin: 0 0 1em; padding: 0; }
#micrositeContainer a { color: #0096d6; text-decoration: none; }
#micrositeContainer a:visited { color: #551a8b; }
#micrositeContainer a:hover { color: #0096d6; text-decoration: underline; }
#micrositeContainer a:focus { border: none; }
#micrositeContainer a:hover, #micrositeContainer a:active { outline: 0; }
#micrositeContainer b, #micrositeContainer strong { font-weight: bold; }
#micrositeContainer blockquote { margin: 1em 40px; }
#micrositeContainer hr { border-top: 1px solid #ccc; border: 0; display: block; height: 1px; margin: 1em 0; padding: 0; }
#micrositeContainer pre, #micrositeContainer code, #micrositeContainer kbd, #micrositeContainer samp { _font-family: 'courier new', monospace; font-family: monospace, serif; font-size: 1em; }
#micrositeContainer pre { white-space: pre-wrap; white-space: pre; word-wrap: break-word; }
#micrositeContainer small { font-size: 85%; }
#micrositeContainer sub, #micrositeContainer sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
#micrositeContainer sup { top: -0.5em; }
#micrositeContainer sub { bottom: -0.25em; }
#micrositeContainer ul, #micrositeContainer ol { margin: 1em 0; padding: 0 0 0 40px; }
#micrositeContainer dd { margin: 0 0 0 40px; }
#micrositeContainer nav ul, #micrositeContainer nav ol { list-style-image: none; list-style: none; margin: 0; padding: 0; }
#micrositeContainer img { -ms-interpolation-mode: bicubic; border: 0; vertical-align: middle; }
#micrositeContainer iframe { border: none; }
#micrositeContainer figure { margin: 0; }
#micrositeContainer table { border-collapse: collapse; border-spacing: 0; }
#micrositeContainer th #micrositeContainer td { vertical-align: top; }


/* content callout */
.micrositeContentCallout { border-top: 2px solid #ccc; border-bottom: 2px solid #ccc; width: 150px; float: left; margin: 10px 20px 10px 0; }
.micrositeContentCalloutInner { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 1px 0; padding: 10px; }
.micrositeContentCallout h6 { color: #00aca0; text-transform: uppercase; font-size: 14px; margin: 0; padding: 0; }
.micrositeContentCallout ul { list-style: none; padding: 0 !important; margin: 0 !important; }
.micrositeContentCallout li { font-size: 11px !important; font-weight: bold; line-height: 14px !important; margin: 10px 0 0; }

/* social media */
#micrositeSocialMediaNav, #micrositeSocialMediaFooter { display: none; }
#micrositeSocialMediaNav { right: 0; top: 45px; }
#micrositeSocialMediaFooter { right: 0; top: 35px; display: none; }
#micrositeSocialMediaNav ul, #micrositeSocialMediaFooter ul { float: left; list-style: none; margin: 0; padding: 0; }
#micrositeSocialMediaNav li, #micrositeSocialMediaFooter li { display: block; float: left; line-height: 0; margin: 0 0 0 5px; }
#micrositeSocialMediaNav li > a, #micrositeSocialMediaFooter li > a { background-image: url(../images/spriteSocialMedia.png); background-repeat: no-repeat; display: block; position: relative; white-space: nowrap; overflow: hidden; text-indent: 100%; height: 18px; }
.micrositeSocialMedia-facebook a { background-position: -78px 0; top: 1px; width: 17px; }
.micrositeSocialMedia-linkedin a { background-position: -56px 0; top: 1px; width: 17px; }
.micrositeSocialMedia-twitter a { background-position: -100px 0; top: 1px; width: 17px; }
.micrositeSocialMedia-email a { background-position: 0 0; top: 0; width: 52px; }

/* layout selectors */
body { background-color: #e5e8e8; font-family: HPSimplifiedRegular, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: HPSimplifiedRegular, Arial, sans-serif; font-weight: normal; }
#micrositeContainerInner { width: 980px; margin: 0 auto; }
#micrositeContainerCompress { background-color: #fff; padding: 20px 20px; }
#micrositeContent { font-size: 100%; overflow: hidden; }
#micrositeContentColumnFull { margin: 0 0 25px; }
#micrositeContentColumnLeft { float: left; width: 660px; }
#micrositeContentColumnRight { float: right; width: 300px; }
.micrositeContentColumnSpan { clear: both; }


/* header */
#micrositeHeader { position: relative; margin: 0 0 20px; }
#micrositeHeaderBanner { height: 110px; background: url(../images/header.jpg) no-repeat 0 0; }
#micrositeHeaderBanner p {display: none; }

#micrositeHeaderNavigation { background-color: #f2f2f2; border-bottom: 3px solid #ccc;  }
#micrositeHeaderNavigation ul { margin: 0 !important; padding: 0 !important; list-style: none; }
#micrositeHeaderNavigation li { position: relative; width: 100px; border-left: 1px solid #ccc; margin: 7px 0 5px; display: inline-block; text-align: center; }
#micrositeHeaderNavigation li:first-child { border-left: none; }
#micrositeHeaderNavigation a { color: #000; text-shadow: 1px 1px 1px #fff; }
#micrositeHeaderNavigation li.on a, #micrositeHeaderNavigation li.active a { color: #0099d8; }
#micrositeHeaderNavigation li.on:after, #micrositeHeaderNavigation li.on:before {
  bottom: -8px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
}
#micrositeHeaderNavigation li.on:after {
  border-bottom-color: #fff;
  border-width: 6px;
  left: 50%;
  margin-left: -6px;
}
#micrositeHeaderNavigation li.on:before {
  border-bottom-color: #ccc;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}

/* footer */
#micrositeFooter { clear: both; position: relative; }
#micrositeFooter { clear: both; position: relative; }
#micrositeFooter .micrositeFooterBottom { background: url(../images/footerLogo.png) no-repeat 0 20px; min-height: 45px; padding: 20px 0; }
#micrositeFooter .micrositeFooterBottom ul { list-style: none; margin: 0; overflow: hidden; padding: 28px 0 0 100px; }
#micrositeFooter .micrositeFooterBottom li { float: left; font-size: 12px; padding-right: 10px; }
#micrositeFooter .micrositeFooterBottom a { color: #00a89c; }

/* content callout */
.micrositeContentCallout { border-top: 2px solid #000; border-bottom: 2px solid #000; width: 150px; float: left; margin: 5px 20px 10px 0; }
.micrositeContentCalloutInner { border-top: 1px solid #000; border-bottom: 1px solid #000; margin: 1px 0; padding: 10px; }
.micrositeContentCallout h6 { color: #333; text-transform: uppercase; font-size: 14px; margin: 0; padding: 0; }
.micrositeContentCallout ul { list-style: none; padding: 0 !important; margin: 0 !important; }
.micrositeContentCallout li { font-size: 12px; margin: 10px 0 0; }

/* bitpipe abstract */
.resDetail { background-color: #fff; overflow: hidden; padding: 30px 50px; }
.resTitleLogo { clear: both; margin-bottom: 20px; overflow: hidden; width: 100%; }
.resTitleLogo h3 { font-size: 20px; font-weight: bold; margin-bottom: 10px !important; }
.resTitleLogo h3 a { color: #15204f; }
.resTitleLogo h4 { color: #666; font-size: 12px; font-weight: normal; }
.resAbstract { clear: both; overflow: hidden; width: 100%; }
.resAbstract .col1 { float: left; padding-right: 25px; width: 190px; }
.resAbstract .col1 td { font-size: 12px; padding: 0 25px 5px 0; vertical-align: top; }
.resAbstract .col1 td strong { font-weight: bold; }
.resAbstract .col2 { float: left; width: 605px; }
.resAbstract .col2 .abstract { border-top: 1px solid #ccc; padding: 10px 0 0; }
.resAbstract .col2 h5 { font-size: 11px; font-weight: bold; margin-bottom: 10px; padding-top: 2px; text-transform: uppercase; }
.resAbstract .col2 p { margin-bottom: 10px; }
.resAbstract .col2 a.viewNow { background: url(../images/viewNowGradient.png) repeat-x 0 0; border-radius: 8px; color: #fff !important; display: inline-block; font-size: 14px; font-weight: bold; margin: 10px 0 20px; padding: 5px 30px; text-align: center; }
.resAbstract .col2 a.viewNow:hover { box-shadow: 0 2px 2px rgba(0,0,0,0.15); text-decoration: none !important; }
.alignLeft { float: left; }
.alignRight { float: right; }

.micrositeSocialMediaNavExtrapadding { display: none !important; }



#micrositeContentColumnFull p { margin: 0 0 15px; }
#micrositeContentColumnFull .micrositeModuleHeader { margin: 0 0 10px; }





.visitRelatedSites { margin: 10px 0; }
.visitRelatedSites ul { list-style: none; padding: 0 !important; margin: 0 !important; }
.visitRelatedSites li { display: inline-block; margin: 0 20px 0 0; font-size: 14px; }
.visitRelatedSites li:before { content: '> '; color: #000; font-size: 15px; font-family: verdana; }

.viewNow:before { content: '> '; }


/* AddThis social sharing component  */
.socialShare-addThis { position: absolute; z-index: 1; line-height: 0; }
.socialShare-addThis a { display: inline-block; margin: 0 0 0 10px; padding: 0 !important; }
#micrositeHeader .socialShare-addThis { top: 120px; right: 20px; }


/* content tabs plugin styles */
.contentTabs { border: 1px solid #ccc; overflow: hidden; margin: 0 0 25px; position: relative; }
.contentTabsNav { background-color: #fafafa; position: relative; }
.contentTabsNav a.button { font-size: 13px; display: block; position: absolute; color: #fff !important; background-color: #0099d8; bottom: 10px; left: 14px; width: 150px; border-radius: 3px; text-transform: uppercase; padding: 14px 0; text-align: center; }
.contentTabsNav a.button:hover { text-decoration: none !important; }
.contentTabsNav ul { margin: 0 !important; padding: 0 !important; background-color: #fff; list-style: none; }
.contentTabsNav li { border-bottom: 1px solid #ccc; font-size: 13px; }
.contentTabsNav li:hover { background-color: #d4e9f2; }
.contentTabsNav li a { font-family: 'HPSimplifiedBold'; color: #444 !important; display: block; text-transform: uppercase; padding: 10px 7px; max-height: 40px; }
.contentTabsNav li a:hover { text-decoration: none !important; }
.contentTabsNav li.active { background-color: #0099d8 !important; border-bottom: none; position: relative; }
.contentTabsNav li.active a { color: #fff !important; }
.contentTabsPanelIntroGraphic, .contenttabspanelintrographic { border: 1px solid #ccc !important; float: right; margin: 0 0 10px 10px; }
.contentTabsPanelCollection { height: 475px; overflow-y: scroll; overflow-x: hidden; }
.contentTabsPanel { display: none; padding: 10px; color: #4c4d4f; }
.contentTabsPanel ul { clear: both; }
.contentTabsPanel:first-child { display: block; }
.contentTabsPanel p { margin: 0 0 10px !important; }
.contentTabsPanel h3 { font-size: 16px !important; margin: 0 0 5px !important; font-family: 'HPSimplifiedBold'; }
.tabsVerticalLeft .contentTabsNav, .tabsVerticalRight .contentTabsNav { width: 180px; height: 475px; }
.tabsVerticalLeft .contentTabsNav li.active a:after,
.tabsVerticalRight .contentTabsNav li.active a:before,
.tabsHorizontalTop .contentTabsNav li.active a:after,
.tabsHorizontalBottom .contentTabsNav li.active a:before { content: ''; position: absolute; display: block; height: 0; width: 0; }
.tabsVerticalLeft .contentTabsNav { float: left; border-right: 1px solid #ccc; }
.tabsVerticalLeft .contentTabsNav li.active a:after { top: 0; right: -12px; border-top: 20px solid transparent; border-left: 12px solid #0099d8; border-bottom: 20px solid transparent; }
.tabsVerticalLeft .contentTabsPanelCollection { float: right; width: 740px; }
.tabsVerticalRight .contentTabsNav { float: right; border-left: 1px solid #ccc; }
.tabsVerticalRight .contentTabsNav li.active a:before { top: 0; left: -12px; border-top: 20px solid transparent; border-right: 12px solid #0099d8; border-bottom: 20px solid transparent; }
.tabsVerticalRight .contentTabsPanelCollection { float: left; width: 740px; }
.tabsHorizontalTop .contentTabsNav ul { border-bottom: 1px solid #ccc; margin-bottom: 20px !important; text-align: center; }
.tabsHorizontalTop .contentTabsNav li, .tabsHorizontalBottom .contentTabsNav li { display: inline-block; border-right: 1px solid #ccc; border-bottom: none; }
.tabsHorizontalTop .contentTabsNav li:first-child, .tabsHorizontalBottom .contentTabsNav li:first-child { border-left: 1px solid #ccc; }
.tabsHorizontalTop .contentTabsNav li.active a:after { top: 38px; left: 33%; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #0099d8; }
.tabsHorizontalBottom .contentTabsNav { position: relative; top: 475px; }
.tabsHorizontalBottom .contentTabsNav ul { border-top: 1px solid #ccc; margin-top: 20px !important; text-align: center; }
.tabsHorizontalBottom .contentTabsNav li:first-child { border-left: 1px solid #ccc; }
.tabsHorizontalBottom .contentTabsNav li.active a:before { top: -10px; left: 33%; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #0099d8; }
.tabsHorizontalBottom .contentTabsPanelCollection { margin-top: -60px; margin-bottom: 60px; }
.tabsNone .contentTabsNav { display: none; }

/* copy these along wih content tabs since they're used in the panel views */
.mediaBlock, .mediaBlockContent { overflow: hidden; _overflow: visible; zoom: 1; }
.mediaBlock img { float: left; margin-right: 10px; display: block; }
.oneColList > ul, .twoColGrid > ul { margin: 0 !important; padding: 0 !important; list-style: none; overflow: hidden; }
.twoColGrid ul > li { clear: left; border-top: 1px solid #ddd; overflow: hidden; }
.twoColGrid .gridItem { width: 46%; float: left; margin: 15px 10px; }
.twoColGrid .gridItem:first-child { border-right: 1px solid #ddd; padding-right: 10px; }
.twoColGrid .gridItem p { margin: 10px 0 0 !important; line-height: 1.1 !important; }
.twoColGrid .mediaBlockImage { width: 80px; height: 100px; }
.oneColList li { border-top: 1px solid #ccc; margin: 15px 0 5px; padding: 15px 0 0; }
.oneColList h4 { font-size: 16px; margin: 0 0 5px !important; }
.oneColList p { margin: 0 0 5px !important; }

/* icons for content tabs link */
.contentTabsNav li { background-image: url(../images/hpApacTabSprite.png); background-repeat: no-repeat; }
.contentTabsNav li.contentTab-Cloud { background-position: right 0; }
.contentTabsNav li.contentTab-Transformation { background-position: right -81px; }
.contentTabsNav li.contentTab-BigData { background-position: right -160px; }
.contentTabsNav li.contentTab-Security { background-position: right -241px; }
.contentTabsNav li.contentTab-Mobility { background-position: right -322px; }
.contentTabsNav li.contentTab-Outsourcing { background-position: right -400px; }
.contentTabsNav li.contentTab-Cloud.active { background-position: right -40px; }
.contentTabsNav li.contentTab-Transformation.active { background-position: right -121px; }
.contentTabsNav li.contentTab-BigData.active { background-position: right -200px; }
.contentTabsNav li.contentTab-Security.active { background-position: right -281px; }
.contentTabsNav li.contentTab-Mobility.active { background-position: right -362px; }
.contentTabsNav li.contentTab-Outsourcing.active { background-position: right -440px; }

/* featured video component */
.featuredVideo { border: 1px solid #0099d8; padding: 10px 0 10px 10px; margin: 0 0 25px; vertical-align: top; position: relative; *zoom: 1; }
.featuredVideo:before, .featuredVideo:after { content: ' '; display: table; }
.featuredVideo:after { clear: both; }
.featuredVideoPlayer { width: 640px; height: 360px; background-color: black; float: left; }
.noPlaylist .featuredVideoPlayer { width: 920px; height: 520px; }
.featuredVideoPlaylist { width: 280px; height: 380px; background-color: #ececec; float: right; margin: -10px 0; overflow-y: scroll; overflow-x: hidden; visibility: hidden; }
.featuredVideoPlaylistHeader { color: #fff; background-color: #000; font-size: 14px !important; padding: 5px 8px !important; margin: 0 !important; }
.featuredVideoPlaylist ul { list-style: none; padding: 0 !important; margin: 3px 0 3px !important; }
.featuredVideoPlaylist li { cursor: pointer; background-color: #fff; min-height: 66px; margin-bottom: 2px; border-left: 6px solid #ccc; }
.featuredVideoPlaylist li.active { border-left: 6px solid #0099db; }
.featuredVideoPlaylist .featuredVideoTitle { font-size: 13px; font-family: 'HPSimplifiedRegular'; margin: 0 !important; line-height: 1.3 !important;}
.featuredVideoPlaylist .mediaBlock { padding: 8px 5px; margin: 1px 2px 0; }
.featuredVideoPlaylist .mediaBlock, .featuredVideoPlaylist .mediaBlockContent { overflow: hidden; _overflow: visible; *zoom: 1; }
.featuredVideoPlaylist .mediaBlock img { float: left; margin-right: 10px; display: block; width: 100px; height: 50px; }
.featuredVideoSummary { display: none; }
.featuredVideoPlaylistTooltip { display: none; font-family: 'HPSimplifiedRegular'; z-index: 1; border: 1px solid #444; background-color: #fff; position: absolute; right: 288px; top: 0; min-height: 48px; width: 250px; padding: 8px 10px; font-size: 13px; line-height: 16px; box-shadow: 0 0 20px rgba(0, 0, 0, .5); }
.featuredVideoPlaylistTooltip:after{ content: ''; width: 0; height: 0; position: absolute; top: 50%; margin-top: -8px; right: -8px;  border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left: 8px solid #444; }

/* ugh */
.contentTabsCaption, .featuredVideoCaption, .micrositeModuleHeader h3, h1, h2 { font-size: 26px; margin: 0 0 5px !important; font-family: 'HPSimplifiedBold'; }
