//Selector Variables
$landPoint: ".animate-in";
$exitPoint: ".animate-out";
$sequencePreloader: "#sequence-preloader";

@include prefixedKeyframe("preload") { /* preloader icons */
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#sequence {
  height: 285px;
  //width: 940px;
  margin: 0 auto;
  position: relative;
  //top: -50px;
  overflow: hidden;
  border: 1px solid #ddd;
  -webkit-backface-visibility: hidden; /* prevent graphical glitches in WebKit browsers when using transitions */
  

  /*when in fallback mode (for browsers that don't support transitions) hide anything outside of the Sequence container*/
  &.sequence-fallback {
      overflow: hidden;
  }
  
  li{
    img, h2, h3{position: absolute;}
  }


  h2 {
    font-size: 35px;
    line-height: 1em;
    font-weight: bold;
    margin: 0 0 10px 0;
  }

  h3 {
    font-size: 20px;
    font-weight: normal;
  }

  /* Preloader */
  #{$sequencePreloader} {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 999999;

    img {
      background: #ff9933;
      @include prefixed(border-radius, 6px);
      display: inline-block;
      height: 12px;
      opacity: 0;
      position: relative;
      top: -50%;
      width: 12px;
      @include prefixed(animation, preload 1s infinite);
    }

    .preloading {
      height: 12px;
      margin: 0 auto;
      top: 50%;
      position: relative;
      width: 48px;
    }

    img:nth-child(2) {
      @include prefixed(animation-delay, .15s);
    }

    img:nth-child(3) {
      @include prefixed(animation-delay, .3s);
    }

    .preloading-complete {
      opacity: 0;
      visibility: hidden;
      @include prefixed(transition-duration, 1s);
    }
  }
  /* !Preloader */

  /* Frame Animations */
  /* Slide 1 */
  .cios{background: url(../images/slides/cios/bg.jpg) left top no-repeat; }
  
  .cios__popular{
    top: 45px;
    left: 25px;
    opacity: 0;
  }

  #{$landPoint} .cios__popular{
    opacity: 1;
    @include prefixed(transition-duration, .75s);
    @include prefixed(transition-delay, .25s);
  }

  #{$exitPoint} .cios__popular{
    opacity: 0;
    @include prefixed(transition-duration, .75s);
    @include prefixed(transition-delay, .25s);
  }

  .cios__header{
    top: 70px;
    left: -649px;
    opacity: 0;
  }

  #{$landPoint} .cios__header{
    left: 25px;
    opacity: 1;
    @include prefixed(transition-duration, .75s);
  }

  #{$exitPoint} .cios__header{
    left: -649px;
    opacity: 0;
    @include prefixed(transition-duration, .75s);
  }

  .cios__tagline{
    top: 145px;
    left: -505px;
    opacity: 0;
  }

  #{$landPoint} .cios__tagline{
    left: 25px;
    opacity: 1;
    @include prefixed(transition-duration, .75s);
    @include prefixed(transition-delay, .25s);
  }

  #{$exitPoint} .cios__tagline{
    left: -505px;
    opacity: 0;
    @include prefixed(transition-duration, .75s);
    @include prefixed(transition-delay, .25s);
  }

  .cios__button{
    bottom: 50px;
    left: 25px;
    opacity: 0;
  }

  #{$landPoint} .cios__button{
    opacity: 1;
    @include prefixed(transition-duration, .75s);
    @include prefixed(transition-delay, .75s);
  }

  #{$exitPoint} .cios__button{
    opacity: 0;
    @include prefixed(transition-duration, .75s);
    @include prefixed(transition-delay, .75s);
  }

  .cios__building{
    right: -311px;
  }

  #{$landPoint} .cios__building{
    top: 0;
    right: 0;
    @include prefixed(transition-duration, .5s);
    @include prefixed(transition-delay, .5s);
  }

  #{$exitPoint} .cios__building{
    top: 0;
    right: -311px;
    @include prefixed(transition-duration, .5s);
    @include prefixed(transition-delay, .5s);
  }
  /* !Frame Animations */
}