- var pages = [{name: 'Home', filename: 'index.html'}, {name: '中文', filename: 'replaceMe'}, {name: '日本語', filename: 'replaceMe'}];

#micrositeHeaderNavigation
  ul
    for page in pages
      if page.name === thisPage
        li.on: a(href='#{page.filename}') #{page.name}
      else
        li: a(href='#{page.filename}') #{page.name}