html
  body
    .brightcoveWidget
      .brightcovePlayer

        script(type='text/javascript', src='http://admin.brightcove.com/js/api/SmartPlayerAPI.js')
      .brightcoveVideoList
        h3 Additional Videos
        ul
          li.active(data-video-id='2050141491001')
            .mediaBlock
              img(src='http://cdn.ttgtmedia.com/microsites/hpenterpriseservicessolutionscentre/images/bc_thumb_the_future_of_your_business_with_hp_cloud_services.jpg', alt='')
              .mediaBlockContent
                h4 The future of your business with HP Cloud Services
                p This is the video description
          li(data-video-id='2050140601001')
            .mediaBlock
              img(src='http://cdn.ttgtmedia.com/microsites/hpenterpriseservicessolutionscentre/images/bc_thumb_hp_cloud_platform_gives_elders_flexibility.jpg', alt='')
              .mediaBlockContent
                h4 HP's Cloud Platform gives Elders flexibility
                p This is the video description
          li(data-video-id='2050214452001')
            .mediaBlock
              img(src='http://cdn.ttgtmedia.com/microsites/hpenterpriseservicessolutionscentre/images/bc_thumb_hp_key_strength_is_infrastructure.jpg', alt='')
              .mediaBlockContent
                h4 HP's Key Strength is Infrastructure
                p This is the video description
          li(data-video-id='2050137978001')
            .mediaBlock
              img(src='http://cdn.ttgtmedia.com/microsites/hpenterpriseservicessolutionscentre/images/bc_thumb_security_solutions_are_critical.jpg', alt='')
              .mediaBlockContent
                h4 Security Solutions are critical
                p This is the video description
          li(data-video-id='2050137977001')
            .mediaBlock
              img(src='http://cdn.ttgtmedia.com/microsites/hpenterpriseservicessolutionscentre/images/bc_thumb_the_official_opening_of_the_aurora_data_centre_in_australia.jpg', alt='')
              .mediaBlockContent
                h4 The Official Opening of the Aurora Data Centre in Australia
                p This is the video description
          li(data-video-id='2050137982001')
            .mediaBlock
              img(src='http://cdn.ttgtmedia.com/microsites/hpenterpriseservicessolutionscentre/images/bc_thumb_hp_enterprise_security_services_video.jpg', alt='')
              .mediaBlockContent
                h4 HP Enterprise Security Services
                p This is the video description
          li(data-video-id='2050141496001')
            .mediaBlock
              img(src='http://cdn.ttgtmedia.com/microsites/hpenterpriseservicessolutionscentre/images/bc_thumb_drive_growth_with_hp_bpo_services.jpg', alt='')
              .mediaBlockContent
                h4 Drive growth with HP BPO Services - Kathy Garcia, Senior Vice-President
                p This is the video description
          li(data-video-id='2050140600001')
            .mediaBlock
              img(src='http://cdn.ttgtmedia.com/microsites/hpenterpriseservicessolutionscentre/images/bc_thumb_hp_finance_and_administration_overview.jpg', alt='')
              .mediaBlockContent
                h4 HP Finance and Administration Overview
                p This is the video description
          li(data-video-id='2050137981001')
            .mediaBlock
              img(src='http://cdn.ttgtmedia.com/microsites/hpenterpriseservicessolutionscentre/images/bc_thumb_hp_social_crm_services_video.jpg', alt='')
              .mediaBlockContent
                h4 HP Social CRM Services Video
                p This is the video description
