h2 Visit these related sites for more information
.visitRelatedSites
  ul
    li: a(href="http://www.hp-securitycenter.com/") HP Enterprise Security Centre
    li: a(href="http://www.hp-applications.com/") HP Application Services Centre
    li: a(href="http://www.convergedinfrastructure.com/") HP Converged Infrastructure
    li: a(href="http://www.hp-convergedcloud.com/") HP Converged Cloud Centre
