.contentTabs
  .contentTabsNav
    ul
      li.active
        a(href='#') Tab Name 1
      li
        a(href='#') Tab Name 2
  .contentTabsPanelCollection
    .contentTabsPanel
      h3 Etlam sed est at tellus placerat sodales in erat
      p
        | Mea labitur singulis intellegebat eu, mei solum impetus referrentur ad, mea quem persequeris no. Pri id similique honestatis, vel senserit liberavisse ne. Id pro modo mediocritatem. Diam dolore docendi ut duo, illum conceptam in vix. Eu errem complectitur vel, esse libris percipitur ex mel, vim ex mundi quidam volutpat. No tritani scaevola apeirian vim.
      .twoColGrid
        ul
          li
            .mediaBlock.gridItem
              img.mediaBlockImage(src='http://lorempixel.com/80/100/nature/1/', alt='')
              .mediaBlockContent
                h4
                  a(href='replaceMe') Harnessing Applications for Innovation and Agility
                p
                  | Discover why applications are necessary for greater business agility and innovation, how they have come to play such a critical role, in implementing a world-class approach.
                p
                  a.viewNow(href='replaceMe') View Now
            .mediaBlock.gridItem
              img.mediaBlockImage(src='http://lorempixel.com/80/100/nature/2/', alt='')
              .mediaBlockContent
                h4
                  a(href='replaceMe') Harnessing Applications for Innovation and Agility
                p
                  | Discover why applications are necessary for greater business agility and innovation, how they have come to play such a critical role, in implementing a world-class approach.
                p
                  a.viewNow(href='replaceMe') View Now
          li
            .mediaBlock.gridItem
              img.mediaBlockImage(src='http://lorempixel.com/80/100/nature/3/', alt='')
              .mediaBlockContent
                h4
                  a(href='replaceMe') Harnessing Applications for Innovation and Agility
                p
                  | Discover why applications are necessary for greater business agility and innovation, how they have come to play such a critical role, in implementing a world-class approach.
                p
                  a.viewNow(href='replaceMe') View Now
            .mediaBlock.gridItem
              img.mediaBlockImage(src='http://lorempixel.com/80/100/nature/4/', alt='')
              .mediaBlockContent
                h4
                  a(href='replaceMe') Harnessing Applications for Innovation and Agility
                p
                  | Discover why applications are necessary for greater business agility and innovation, how they have come to play such a critical role, in implementing a world-class approach.
                p
                  a.viewNow(href='replaceMe') View Now
          li
            .mediaBlock.gridItem
              img.mediaBlockImage(src='http://lorempixel.com/80/100/nature/5/', alt='')
              .mediaBlockContent
                h4
                  a(href='replaceMe') Harnessing Applications for Innovation and Agility
                p
                  | Discover why applications are necessary for greater business agility and innovation, how they have come to play such a critical role, in implementing a world-class approach.
                p
                  a.viewNow(href='replaceMe') View Now
            .mediaBlock.gridItem
              img.mediaBlockImage(src='http://lorempixel.com/80/100/nature/6/', alt='')
              .mediaBlockContent
                h4
                  a(href='replaceMe') Harnessing Applications for Innovation and Agility
                p
                  | Discover why applications are necessary for greater business agility and innovation, how they have come to play such a critical role, in implementing a world-class approach.
                p
                  a.viewNow(href='replaceMe') View Now
          li
            .mediaBlock.gridItem
              img.mediaBlockImage(src='http://lorempixel.com/80/100/nature/7/', alt='')
              .mediaBlockContent
                h4
                  a(href='replaceMe') Harnessing Applications for Innovation and Agility
                p
                  | Discover why applications are necessary for greater business agility and innovation, how they have come to play such a critical role, in implementing a world-class approach.
                p
                  a.viewNow(href='replaceMe') View Now
            .mediaBlock.gridItem
              img.mediaBlockImage(src='http://lorempixel.com/80/100/nature/8/', alt='')
              .mediaBlockContent
                h4
                  a(href='replaceMe') Harnessing Applications for Innovation and Agility
                p
                  | Discover why applications are necessary for greater business agility and innovation, how they have come to play such a critical role, in implementing a world-class approach.
                p
                  a.viewNow(href='replaceMe') View Now
    .contentTabsPanel
      h3 Placerat sodales in erat Etlam sed est at tellus
      p
        | Quisque sed tellus libero. Ut tristique rutrum felis, at tempor tellus fringilla sed. Fusce vitae tincidunt nunc. Aenean in est lorem. Cras molestie, mi quis ultricies cursus, sem mi blandit leo, at elementum sapien enim sit amet tortor. Vivamus est nisl, posuere ac iaculis sed, vestibulum sit amet purus. Sed congue mi eu velit vulputate mollis. Sed non magna ac ipsum ullamcorper malesuada.
      .twoColGrid
        ul
          li
            .mediaBlock.gridItem
              img.mediaBlockImage(src='http://lorempixel.com/80/100/nature/5/', alt='')
              .mediaBlockContent
                h4
                  a(href='replaceMe') Harnessing Applications for Innovation and Agility
                p
                  | Discover why applications are necessary for greater business agility and innovation, how they have come to play such a critical role, in implementing a world-class approach.
                p
                  a.viewNow(href='replaceMe') View Now
            .mediaBlock.gridItem
              img.mediaBlockImage(src='http://lorempixel.com/80/100/nature/6/', alt='')
              .mediaBlockContent
                h4
                  a(href='replaceMe') Harnessing Applications for Innovation and Agility
                p
                  | Discover why applications are necessary for greater business agility and innovation, how they have come to play such a critical role, in implementing a world-class approach.
                p
                  a.viewNow(href='replaceMe') View Now
          li
            .mediaBlock.gridItem
              img.mediaBlockImage(src='http://lorempixel.com/80/100/nature/7/', alt='')
              .mediaBlockContent
                h4
                  a(href='replaceMe') Harnessing Applications for Innovation and Agility
                p
                  | Discover why applications are necessary for greater business agility and innovation, how they have come to play such a critical role, in implementing a world-class approach.
                p
                  a.viewNow(href='replaceMe') View Now
            .mediaBlock.gridItem
              img.mediaBlockImage(src='http://lorempixel.com/80/100/nature/8/', alt='')
              .mediaBlockContent
                h4
                  a(href='replaceMe') Harnessing Applications for Innovation and Agility
                p
                  | Discover why applications are necessary for greater business agility and innovation, how they have come to play such a critical role, in implementing a world-class approach.
                p
                  a.viewNow(href='replaceMe') View Now
            li
              .mediaBlock.gridItem
                img.mediaBlockImage(src='http://lorempixel.com/80/100/nature/1/', alt='')
                .mediaBlockContent
                  h4
                    a(href='replaceMe') Harnessing Applications for Innovation and Agility
                  p
                    | Discover why applications are necessary for greater business agility and innovation, how they have come to play such a critical role, in implementing a world-class approach.
                  p
                    a.viewNow(href='replaceMe') View Now
              .mediaBlock.gridItem
                img.mediaBlockImage(src='http://lorempixel.com/80/100/nature/2/', alt='')
                .mediaBlockContent
                  h4
                    a(href='replaceMe') Harnessing Applications for Innovation and Agility
                  p
                    | Discover why applications are necessary for greater business agility and innovation, how they have come to play such a critical role, in implementing a world-class approach.
                  p
                    a.viewNow(href='replaceMe') View Now
            li
              .mediaBlock.gridItem
                img.mediaBlockImage(src='http://lorempixel.com/80/100/nature/3/', alt='')
                .mediaBlockContent
                  h4
                    a(href='replaceMe') Harnessing Applications for Innovation and Agility
                  p
                    | Discover why applications are necessary for greater business agility and innovation, how they have come to play such a critical role, in implementing a world-class approach.
                  p
                    a.viewNow(href='replaceMe') View Now
              .mediaBlock.gridItem
                img.mediaBlockImage(src='http://lorempixel.com/80/100/nature/4/', alt='')
                .mediaBlockContent
                  h4
                    a(href='replaceMe') Harnessing Applications for Innovation and Agility
                  p
                    | Discover why applications are necessary for greater business agility and innovation, how they have come to play such a critical role, in implementing a world-class approach.
                  p
                    a.viewNow(href='replaceMe') View Now