.featuredVideo
  .featuredVideoPlayer
    object#featuredVideoPlayer1.BrightcoveExperience
      param(name='bgcolor', value='#000000')
      param(name='wmode', value='opaque')
      param(name='width', value='640')
      param(name='height', value='360')
      param(name='playerID', value='2045898185001')
      param(name='playerKey', value='AQ~~,AAAAAGL7FTI~,KqbVcw7NDYolTatfEGWnMVsFvGToVKp2')
      param(name='isVid', value='true')
      param(name='isUI', value='true')
      param(name='dynamicStreaming', value='true')
      param(name='includeAPI', value='true')
      param(name='templateLoadHandler', value='brightcovePlayerLoaded')
      param(name='templateReadyHandler', value='brightcovePlayerReady')
  .featuredVideoPlaylist
    h3.featuredVideoPlaylistHeader Brian Madden Video Series
    ul
      li(data-video-id='2050141491001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/hpenterpriseservicessolutionscentre/images/bc_thumb_the_future_of_your_business_with_hp_cloud_services.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle The future of your business with HP Cloud Services
      li(data-video-id='2050140601001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/hpenterpriseservicessolutionscentre/images/bc_thumb_hp_cloud_platform_gives_elders_flexibility.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle HP's Cloud Platform gives Elders flexibility
      li(data-video-id='2050214452001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/hpenterpriseservicessolutionscentre/images/bc_thumb_hp_key_strength_is_infrastructure.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle HP's Key Strength is Infrastructure
      h3.featuredVideoPlaylistHeader Intel Video Content
      li(data-video-id='2050137978001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/hpenterpriseservicessolutionscentre/images/bc_thumb_security_solutions_are_critical.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Security Solutions are critical
      li(data-video-id='2050137977001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/hpenterpriseservicessolutionscentre/images/bc_thumb_the_official_opening_of_the_aurora_data_centre_in_australia.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle The Official Opening of the Aurora Data Centre in Australia
      li(data-video-id='2050137982001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/hpenterpriseservicessolutionscentre/images/bc_thumb_hp_enterprise_security_services_video.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle HP Enterprise Security Services
      li(data-video-id='2050141496001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/hpenterpriseservicessolutionscentre/images/bc_thumb_drive_growth_with_hp_bpo_services.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle Drive growth with HP BPO Services - Kathy Garcia, Senior Vice-President
      li(data-video-id='2050140600001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/hpenterpriseservicessolutionscentre/images/bc_thumb_hp_finance_and_administration_overview.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle HP Finance and Administration Overview
      li(data-video-id='2050137981001')
        .mediaBlock
          img(src='http://cdn.ttgtmedia.com/microsites/hpenterpriseservicessolutionscentre/images/bc_thumb_hp_social_crm_services_video.jpg', alt='')
          .mediaBlockContent
            h4.featuredVideoTitle HP Social CRM Services Video