html
  body
    link(rel='stylesheet', href='css/style.css', type='text/css', media='screen')
    script(src='javascript/script.js')
    #micrositeContainer
      #micrositeContainerInner
        #micrositeContainerCompress
          #micrositeHeader
            #micrositeHeaderBanner
              .micrositeModuleContainer
            #micrositeSocialMediaNav
              ul
                li.micrositeSocialMedia-email
                  a(href='#', title='Email A Friend') E-mail
                li.micrositeSocialMedia-linkedin
                  a(href='#', title='Add to LinkedIn') LinkedIn
                li.micrositeSocialMedia-facebook
                  a(href='#', title='Add to Facebook') Facebook
                li.micrositeSocialMedia-twitter
                  a(href='#', title='Add to Twitter') Twitter
          #micrositeContent
            #micrositeContentColumnFull
              // BEGIN: featured video component

              // END: featured video component
            #micrositeContentColumnLeft

              // END: custom splash
              // BEGIN: content tabs component

              // END: content tabs component
            #micrositeContentColumnRight

          #micrositeFooter
            .micrositeModuleContainer
              .micrositeFooterBottom
                ul
                  li
                    a(href='http://www.techtarget.com/html/privacy_policy.html') Privacy Statement
                  li Copyright © 2012 TechTarget
            #micrositeSocialMediaFooter
              ul
                li.micrositeSocialMedia-email
                  a(href='#', title='Email A Friend') E-mail
                li.micrositeSocialMedia-linkedin
                  a(href='#', title='Add to LinkedIn') LinkedIn
                li.micrositeSocialMedia-facebook
                  a(href='#', title='Add to Facebook') Facebook
                li.micrositeSocialMedia-twitter
                  a(href='#', title='Add to Twitter') Twitter
