/*  browser reset, same reset used in search sites  */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
table {border-collapse:collapse;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
/*  compellent core  */
body {background-color:#ccc;color:#000;font-family:Arial,sans-serif;font-size:13px;line-height:0;}
p { line-height: 1.3; padding: 0 0 10px; }
ul { line-height: 1.3; margin-bottom: 15px; padding-left: 15px; list-style: square none outside; }
ul li > ul, ol li > ol { margin-bottom: 0; }
ol { line-height: 1.3; margin-bottom: 15px; padding-left: 15px; list-style-type: decimal; list-style-position: outside; }
dl { line-height: 1.3; margin-bottom: 15px; }
dl dt { font-weight: bold; }
dl dd { border-left: 1px solid #efefef; margin: 5px 0 5px 25px; padding: 2px 10px 10px; }
em {font-style:italic;}
a {text-decoration:none;}
a:link, a:visited, a:active, a:hover, a:focus {color:#1F78B8;}
a:focus {outline:0;}
a:hover {text-decoration:underline;}
h1, h2, h3, h4, h5, h6 {font-family:Trebuchet MS, arial, sans-serif;}
#micrositeContainer {background-color:#707070;line-height:1;width:100%;}
#micrositeContainerInner {background-color:#fff;margin:0 auto;overflow:hidden;width:980px;}
#micrositeContainerCompress {background-color:#fff;margin:0 auto;overflow:hidden;padding:0;width:980px;}
/*  header  */
#micrositeHeader {clear:both;position:relative;width:100%;}
#micrositeHeaderBanner {height:150px;}
#micrositeHeaderNavigation {background-color:#eee;height:28px;margin:0px 0 0;}
#micrositeHeaderNavigation ul {list-style:none;padding:0;margin:0;}
#micrositeHeaderNavigation ul li {background-color:#eee;color:#000;display:block;float:left;font-size:14px;font-weight:normal;height:23px;margin:0 0 0 0px;padding-top:3px;text-align:center;text-transform:uppercase;width:325px;}
#micrositeHeaderNavigation ul li:first-child {margin:0;width:325px;}
#micrositeHeader #micrositeHeaderNavigation ul li.first {background-color:#eee;color:#0783B7;margin:0;}
#micrositeHeaderNavigation ul li a {color:#000;display:block;padding:3px 0 0 0;text-decoration:none;}
#micrositeHeaderNavigation ul li.on {background-color:#eee;color:#0783B7;margin:0 0 0 2px;}
#micrositeHeaderNavigation ul li.on a {color:#0783b7;}
#micrositeHeaderNavigation ul li.first a {color:#0783b7;}
/*  content  */
#micrositeContent {clear:both;overflow:hidden;padding:12px 0;width:100%;}
#micrositeContentColumnRight {float:right;margin-bottom:15px;margin-right:15px;width:300px;}
#micrositeContentColumnLeft {float:left;margin-bottom:15px;margin-left:15px;width:635px;}
#micrositeContentColumnFullWidth {margin-bottom:15px;width:980px;}
.micrositeModuleContainer {margin:0 0 15px 0;}
.micrositeModuleContainer p.noPad {margin:0;padding:0;}
.micrositeModuleHeader {margin:0 0 5px 0;width:100%;}
.micrositeModuleHeader h3 {border-bottom:1px solid #818284;color:#474647;font-size:17px;font-weight:bold;margin:0 0 10px 0;padding:0 0 3px 0;}
.micrositeModuleFrontLines {height:255px;overflow-x:hidden;overflow-y:scroll;padding-right:15px;padding-left:10px;width:610px;}
.micrositeModuleIndustryUpdate {background-color:#edeceb;border-radius:10px;-moz-border-radius:10px;padding:10px;}
.micrositeModuleFrontLines h1 {color:#15204f;font-size:22px;font-weight:bold;line-height:1.2;margin:0;padding:0 0 5px 0;}
.micrositeModuleFrontLines h2 {color:#15204f;font-size:22px;font-weight:bold;line-height:1.2;margin:0;padding:0 0 5px 0;}
.micrositeFrontLinesProfile {float:left;padding:4px 25px 0 0;}
.micrositeFrontLinesProfileText {display:block;}
.micrositeModuleIndustryUpdate p, .micrositeModuleIndustryUpdate h4, .micrositeModuleIndustryUpdate ul {padding-right:10px;}
.micrositeFrontLinesProfileText ul, .micrositeModuleIndustryUpdate ul {padding:5px 0 0 15px;}
.micrositeFrontLinesProfileText ul li, .micrositeModuleIndustryUpdate ul li {padding:0 0 10px 10px;}
.micrositeIndustryUpdateImg {display:block;margin:0 auto 5px;padding-top:5px;}
.micrositeModuleIndustryUpdate h4, .micrositeModuleVideos h4, .micrositeModuleYourTurn h4 {color:#15204f;font-size:16px;font-weight:bold;margin-bottom:5px;}
.micrositeSplashMoreNews {margin:5px 0;}
.micrositeSplashMoreNews h4 {margin-bottom:0;}
.micrositeSplashMoreNews p {color:#777;display:block;float:left;font-size:10px;font-style:italic;padding:2px 10px 0 0;}
.micrositeNewsLinks {height:100px;overflow-x:hidden;overflow-y:auto;padding-right:15px;}
.micrositeNewsLinks ul {list-style-type:none;margin-bottom:5px;}
.micrositeNewsLinks ul li {padding:0 0 5px 0;}
.micrositeNewsLinks ul li a {color:#1f78b8;text-decoration:none;}
.micrositeNewsLinks ul li a:hover {text-decoration:underline;}
.micrositeNewsSiteLogo {margin:5px 0 0 0;}
.micrositeNewsSiteLogo img {height:24px;}
.micrositeModuleFeatured {height:675px;overflow:hidden;position:relative;width:100%;}
.micrositeModuleFeatured > ul {list-style-type:none;margin:0;padding:0;position:absolute;top:0;}
.micrositeModuleFeaturedTabs {left:0;width:170px;z-index:2;}
.micrositeModuleFeaturedTabs > li a {display:block;height:33px;margin:0 0 2px 0;outline:none;}
.micrositeModuleFeaturedOutput {border:1px solid #ebebeb;height:673px;position:absolute;right:0;width:475px;}
.micrositeModuleFeaturedOutput > li {height:633px;padding:0;position:absolute;width:435px;}
.micrositeModuleFeaturedOutput .micrositeFeaturedCaseStudies, .micrositeModuleFeaturedOutput .micrositeFeaturedTechBriefs, .micrositeModuleFeaturedOutput .micrositeFeaturedVideos, .micrositeModuleFeaturedOutput .micrositeFeaturedWhitePapers, .micrositeModuleFeaturedOutput .micrositeFeaturedVirtualStorage, .micrositeModuleFeaturedOutput .micrositeFeaturedScalability, .micrositeModuleFeaturedOutput .micrositeFeaturedStorage, .micrositeModuleFeaturedOutput .micrositeFeaturedDataRecovery {padding:20px;}
.micrositeTabDataRecovery {background:  url(../images/tab_dataRecoveryOff.png) no-repeat;}
.micrositeTabDataRecovery a {background:  url(../images/tab_dataRecoveryOff.png) no-repeat;height:33px;width:147px;display:block;}
.micrositeTabDataRecovery a.current {background:  url(../images/tab_dataRecoveryOn.png) no-repeat;width:162px;}
.micrositeTabScalability {background:  url(../images/tab_scalabilityOff.png) no-repeat;}
.micrositeTabScalability a {background:  url(../images/tab_scalabilityOff.png) no-repeat;height:33px;width:147px;display:block;}
.micrositeTabScalability a.current {background:  url(../images/tab_scalabilityOn.png) no-repeat;width:162px;}
.micrositeTabStorage {background:  url(../images/tab_storageIQOff.png) no-repeat;}
.micrositeTabStorage a {background:  url(../images/tab_storageIQOff.png) no-repeat;height:33px;width:147px;display:block;}
.micrositeTabStorage a.current {background:  url(../images/tab_storageIQOn.png) no-repeat;width:162px;}
.micrositeTabVirtualStorage {background:  url(../images/tab_virtualStorageOff.png) no-repeat;}
.micrositeTabVirtualStorage a {background:  url(../images/tab_virtualStorageOff.png) no-repeat;height:33px;width:147px;display:block;}
.micrositeTabVirtualStorage a.current {background:  url(../images/tab_virtualStorageOn.png) no-repeat;width:162px;}
.micrositeTabWhitePapers {background:  url(../images/tab_whitePapersOff.png) no-repeat;}
.micrositeTabWhitePapers a {background:  url(../images/tab_whitePapersOff.png) no-repeat;height:33px;width:147px;display:block;}
.micrositeTabWhitePapers a.current {background:  url(../images/tab_whitePapersOn.png) no-repeat;width:162px;}
.micrositeTabCaseStudies {background:  url(../images/tab_caseStudiesOff.png) no-repeat;}
.micrositeTabCaseStudies a {background:  url(../images/tab_caseStudiesOff.png) no-repeat;height:33px;width:147px;display:block;}
.micrositeTabCaseStudies a.current {background:  url(../images/tab_caseStudiesOn.png) no-repeat;width:162px;}
.micrositeTabTechBriefs {background:  url(../images/tab_techBriefsOff.png) no-repeat;}
.micrositeTabTechBriefs a {background:  url(../images/tab_techBriefsOff.png) no-repeat;height:33px;width:147px;display:block;}
.micrositeTabTechBriefs a.current {background:  url(../images/tab_techBriefsOn.png) no-repeat;width:162px;}
.micrositeTabIndustries {background:  url(../images/tab_industriesOff.png) no-repeat;}
.micrositeTabIndustries a {background:  url(../images/tab_industriesOff.png) no-repeat;height:33px;width:147px;display:block;}
.micrositeTabIndustries a.current {background:  url(../images/tab_industriesOn.png) no-repeat;width:162px;}
.micrositeTabVideos {background:  url(../images/tab_videosOff.png) no-repeat;}
.micrositeTabVideos a {background:  url(../images/tab_videosOff.png) no-repeat;height:33px;width:147px;display:block;}
.micrositeTabVideos a.current {background:  url(../images/tab_videosOn.png) no-repeat;width:162px;}
.micrositeTabGradient {background:  url(../images/featuredContentTabsGradient.png) repeat-x top left;height:530px;width:147px;}
.micrositeTabGradient1 {background:  url(../images/featuredContentTabsGradient1.png) repeat-x top left;height:638px;width:147px;}
.micrositeTabGradient2 {background:  url(../images/featuredContentTabsGradient2.png) repeat-x top left;height:602px;width:147px;}
.micrositeTabGradient3 {background:  url(../images/featuredContentTabsGradient3.png) repeat-x top left;height:566px;width:147px;}
.micrositeTabGradient4 {background:  url(../images/featuredContentTabsGradient4.png) repeat-x top left;height:530px;width:147px;}
.micrositeTabGradient5 {background:  url(../images/featuredContentTabsGradient5.png) repeat-x top left;height:494px;width:147px;}
.micrositeTabGradient6 {background:  url(../images/featuredContentTabsGradient6.png) repeat-x top left;height:458px;width:147px;}
.micrositeTabGradient7 {background:  url(../images/featuredContentTabsGradient7.png) repeat-x top left;height:422px;width:147px;}
.micrositeFeaturedWhitePapers .micrositeFeaturedRelatedBody {max-height:335px;overflow:auto;width:420px;}
.micrositeFeaturedRelatedBody {max-height:335px;overflow:auto;padding-right:15px;padding-left:0;width:420px;}
.micrositeFeaturedInfo h4 a {color:#15204f;text-decoration:none;}
.micrositeFeaturedInfo h4 a:hover {text-decoration:underline;}
.micrositeFeaturedTab {height:225px;margin:0 0 25px 0;overflow:auto;padding-right:15px;}
.micrositeFeaturedTab .micrositeWhitePaperImage, .micrositeFeaturedTab .micrositeFeaturedImage {float:left;padding:0 15px 0 0;}
.micrositeFeaturedTab .micrositeWhitePaperInfo, .micrositeFeaturedTab .micrositeFeaturedInfo {display:block;overflow:hidden;}
.micrositeFeaturedTab .micrositeImageWrap, .micrositeFeaturedTab .micrositeImageNoWrap {margin-bottom:10px;}
.micrositeFeaturedTab .micrositeImageWrap .micrositeWhitePaperImage, .micrositeFeaturedTab .micrositeImageWrap .micrositeFeaturedImage {float:left;padding:0 15px 0 0;}
.micrositeFeaturedTab .micrositeImageWrap .micrositeWhitePaperInfo, .micrositeFeaturedTab .micrositeImageWrap .micrositeFeaturedInfo {display:inline;}
.micrositeFeaturedTab .micrositeImageNoWrap .micrositeWhitePaperImage, .micrositeFeaturedTab .micrositeImageNoWrap .micrositeFeaturedImage {float:left;padding:0 15px 0 0;}
.micrositeFeaturedTab .micrositeImageNoWrap .micrositeWhitePaperInfo, .micrositeFeaturedTab .micrositeImageNoWrap .micrositeFeaturedInfo {display:block;overflow:hidden;}
.micrositeWhitePaperInfo, .micrositeFeaturedInfo {display:block;overflow:hidden;}
.micrositeWhitePaperInfo h3, .micrositeFeaturedInfo h3 {color:#15204f;font-size:20px;padding:0 0 10px 0;}
.micrositeWhitePaperInfo h4, .micrositeFeaturedInfo h4 {color:#15204f;font-size:16px;font-weight:bold;padding:0 0 5px 0;}
.micrositeWhitePaperInfo p, .micrositeFeaturedInfo p {padding:0 0 10px 0;}
.micrositeWhitePaperInfo a, .micrositeFeaturedInfo a {color:#1f78b8;text-decoration:none;}
.micrositeFeaturedRelated {clear:both;}
.micrositeFeaturedRelatedHeader {margin:0 0 5px 0;width:100%;}
.micrositeFeaturedRelatedHeader h3 {border-bottom:1px solid #818284;color:#474647;font-size:17px;font-weight:bold;line-height:1;margin:0 0 0 10px;padding:0 0 3px 0;}
.micrositeFeaturedRelatedBody {height:335px;overflow:auto;padding-right:15px;padding-left:10px;}
.micrositeFeaturedRelated ul {list-style-type:none;margin:0;padding:0;}
.micrositeFeaturedRelated ul li {padding-bottom:20px;}
.micrositeFeaturedRelated ul li h4 {color:#15204f;font-size:16px;font-weight:bold;padding:0;}
.micrositeFeaturedRelated ul li h4:nth-child(2) {padding:0 0 10px 0;}
.micrositeFeaturedRelated ul li p {padding:0 0 10px 0;}
.micrositeFeaturedRelated ul li h4 a {color:#15204f;text-decoration:none;}
.micrositeFeaturedRelated ul li h4 a:hover {text-decoration:underline;}
.micrositeFeaturedRelated ul li a {color:#1f78b8;text-decoration:none;}
.micrositeFeaturedRelated ul li a:hover {text-decoration:underline;}
.micrositeModuleVideos a {color:#1f78b8;text-decoration:none;}
.micrositeModuleVideosPlayer {margin:25px 0;}
.micrositeCaseStudiesProfile {float:left;padding:20px 40px;}
.micrositeCaseStudiesQuote {display:block;overflow:hidden;padding:20px 0 0 0;}
.micrositeCaseStudiesQuote h4 {color:#15204f;font-size:16px;font-weight:bold;padding:0 0 10px 0;}
.micrositeCaseStudiesQuote h5 {color:#777;font-size:15px;font-weight:normal;padding:0 0 10px 0;}
.micrositeCaseStudiesQuote small {color:#234879;font-size:11px;}
.micrositeCaseStudiesInfo {clear:both;display:block;padding:0 0 25px 0;}
.micrositeCaseStudiesInfo h4 {color:#15204f;font-size:16px;font-weight:bold;padding:0 0 5px 0;}
.micrositeFeaturedTechBriefs h4 {color:#15204f;font-size:16px;font-weight:bold;padding:0 0 15px 0;}
.micrositeTechBriefsLeft {float:left;padding:0 0 25px 0;width:225px;}
.micrositeTechBriefsRight {float:right;padding:0 0 25px 0;width:225px;}
.micrositeTechBriefsLeft img, .micrositeTechBriefsRight img {padding:0 0 15px 0;}
.micrositeFeaturedIndustries h4 {color:#15204f;font-size:16px;font-weight:bold;padding:0 0 5px 0;}
.micrositeIndustriesSectionLeft img {display:block;float:left;padding:0 15px 0 0;}
.micrositeIndustriesSectionRight img {display:block;float:right;padding:0 15px 0 0;}
.micrositeIndustriesSectionInfo p, .micrositeIndustriesSectionInfo p {padding:0 0 15px 0;}
.micrositeIndustriesSectionInfo a, .micrositeIndustriesSectionInfo a {color:#1f78b8;text-decoration:none;}
.micrositeIndustriesSectionInfo {display:block;overflow:hidden;}
.micrositeIndustriesSection {padding:0 0 30px 0;}
/*  footer  */
#micrositeFooter {background: url(../images/background_footerTechTargetLogo.png) no-repeat scroll 0 40px transparent;border-top:1px solid #15204f;clear:both;margin:0 15px;padding:15px 0 0 0;position:relative;}
#micrositeFooter h4 {color:#999;font-size:11px;font-weight:normal;margin:0 0 15px 0;text-transform:uppercase;}
#micrositeFooter p {font-size:11px;padding:0 0 10px 65px;}
/* embed */
#micrositeAdvertisement {height:25px;margin:15px 0 5px 0;position:relative;text-align:center;width:980px;}
#micrositeAdvertisement h3 {color:#999;font-size:10px;font-weight:normal;padding:15px 0 0 0;}
#micrositeClose {float:right;position:absolute;right:0;top:0;}
#micrositeClose a {background: url(../images/micrositeCloseButton.png) no-repeat top left;display:block;height:30px;width:115px;text-indent:-9999px;}
#header {font-family:Calibri,Helvetica,Arial,sans-serif;background-color:#3c3c3c;}
#footer {font-family:Calibri,Helvetica,Arial,sans-serif;}
input.navigationSearchBox {font-size:1.2em;}
#headerNavigation, #footerNavigation {font-size:1.3em;}
#universalBar {font-size:0.75em;}
#relatedSites h5, #relatedSites .listTypeTabContent h6 {font-family:Calibri,Helvetica,Arial,sans-serif;font-weight:bold;}
#relatedSites h5, #relatedSites .listTypeTabContent h6 a {color:#333;}
#relatedSites .listTypeTab {padding-left:0;}
/* bitpipe abstract */
.resDetail {overflow:hidden;padding:30px 80px;}
.resTitleLogo {clear:both;margin-bottom:20px;overflow:hidden;width: 100%;}
.alignLeft {float:left;}
.resTitleLogo h3 {font-size:15px;font-weight:bold;margin-bottom:2px;}
.resTitleLogo h3 a {color:#15204f;}
.resTitleLogo h4 {color:#666;font-size:12px;font-weight:normal;}
.alignRight {float:right;}
.resAbstract {clear:both;overflow:hidden;width:100%;}
.resAbstract .col1 {float:left;padding-right:25px;width:190px;}
.resAbstract .col1 td {padding:0 25px 5px 0;vertical-align:top;}
.resAbstract .col1 td strong {font-weight:bold;}
.resAbstract .col2 {float:left;width:605px;}
.resAbstract .col2 h5 {border-top:1px solid #ccc;font-size:11px;font-weight:bold;margin-bottom:10px;padding-top:2px;text-transform:uppercase;}
.resAbstract .col2 p {margin-bottom:10px;}
.resAbstract .col2 a.viewNow {background: url(../images/viewNowGradient.png) repeat-x 0 0;border-radius:8px;color:#fff;display:inline-block;font-size:14px;font-weight:bold;margin:10px 0 20px;padding:10px 30px;text-align:center;}
.resAbstract .col2 a.viewNow:hover {box-shadow:0 2px 2px rgba(0,0,0,0.15);text-decoration:none;}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TBR_window {font: 12px Arial, Helvetica, sans-serif;color: #333333;}
#TBR_secondLine {font: 10px Arial, Helvetica, sans-serif;color:#666666;}
#TBR_window a:link {color: #666666;}
#TBR_window a:visited {color: #666666;}
#TBR_window a:hover {color: #000;}
#TBR_window a:active {color: #666666;}
#TBR_window a:focus{color: #666666;}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TBR_overlay {position: fixed;z-index:100;top: 0px;left: 0px;height:100%;width:100%;}
.TBR_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TBR_overlayBG {background-color:#000;filter:alpha(opacity=50);-moz-opacity: 0.50;opacity: 0.50;}
* html #TBR_overlay {position: absolute;height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');}
#TBR_window {position: fixed;background: #ffffff;z-index: 102;color:#000000;display:none;border: 1px solid #525252;text-align:left;top:50%;left:50%;}
* html #TBR_window {position: absolute;margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');}
#TBR_window img#TBR_Image {display:block;margin: 15px 0 0 15px;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;border-top: 1px solid #666;border-left: 1px solid #666;}
#TBR_caption{height:25px;padding:7px 30px 10px 25px;float:left;}
#TBR_closeWindow{height:25px;padding:11px 25px 10px 0;float:right;}
#TBR_closeAjaxWindow{padding:7px 10px 5px 0;margin-bottom:1px;text-align:right;float:right;}
#TBR_ajaxWindowTitle{float:left;padding:7px 0 5px 10px;margin-bottom:1px;}
#TBR_title{background-color:#e8e8e8;height:27px;}
#TBR_ajaxContent{clear:both;padding:2px 15px 15px 15px;overflow:auto;text-align:left;line-height:1.4em;}
#TBR_ajaxContent.TBR_modal{padding:15px;}
#TBR_ajaxContent p{padding:5px 0px 5px 0px;}
#TBR_load{position: fixed;display:none;height:13px;width:208px;z-index:103;top: 50%;left: 50%;margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */}
* html #TBR_load {position: absolute;margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');}
#TBR_HideSelect{z-index:99;position:fixed;top: 0;left: 0;background-color:#fff;border:none;filter:alpha(opacity=0);-moz-opacity: 0;opacity: 0;height:100%;width:100%;}
* html #TBR_HideSelect {position: absolute;height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');}
#TBR_iframeContent{clear:both;border:none;margin-bottom:-1px;margin-top:1px;_margin-bottom:1px;}

/* right column horizontal tabs */
#micrositeContentColumnRight .micrositeModuleFeatured {height:635px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeFeaturedTab {margin-bottom:5px;height:165px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeModuleFeaturedTabs {width:115px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeModuleFeaturedOutput {border:none;height:633px;width:185px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeModuleFeaturedOutput > li {width:185px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabWhitePapers {background:  url(../images/tab_whitePapersOff_right.png) no-repeat;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabWhitePapers a {background:  url(../images/tab_whitePapersOff_right.png) no-repeat;height:24px;width:107px;display:block;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabWhitePapers a.current {background:  url(../images/tab_whitePapersOn_right.png) no-repeat;width:118px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabCaseStudies {background:  url(../images/tab_caseStudiesOff_right.png) no-repeat;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabCaseStudies a {background:  url(../images/tab_caseStudiesOff_right.png) no-repeat;height:24px;width:107px;display:block;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabCaseStudies a.current {background:  url(../images/tab_caseStudiesOn_right.png) no-repeat;width:118px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabTechBriefs {background:  url(../images/tab_techBriefsOff_right.png) no-repeat;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabTechBriefs a {background:  url(../images/tab_techBriefsOff_right.png) no-repeat;height:24px;width:107px;display:block;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabTechBriefs a.current {background:  url(../images/tab_techBriefsOn_right.png) no-repeat;width:118px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabVideos {background:  url(../images/tab_videosOff_right.png) no-repeat;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabVideos a {background:  url(../images/tab_videosOff_right.png) no-repeat;height:24px;width:107px;display:block;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabVideos a.current {background:  url(../images/tab_videosOn_right.png) no-repeat;width:118px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabGradient {width:107px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabGradient1 {width:107px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabGradient2 {width:107px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabGradient3 {width:107px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabGradient4 {width:107px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabGradient5 {width:107px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabGradient6 {width:107px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabGradient7 {width:107px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeFeaturedRelatedHeader h3 {border-bottom:none;border-top:1px dotted #818284;margin:10px 0;padding:10px 0 0 0;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeFeaturedWhitePapers .micrositeFeaturedRelatedBody {height:421px;width:285px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeFeaturedRelatedBody {height:421px;width:285px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeFeaturedTab .micrositeWhitePaperInfo, #micrositeContentColumnRight .micrositeModuleFeatured .micrositeFeaturedTab .micrositeFeaturedInfo {display:block;overflow:visible;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeFeaturedTab .micrositeImageNoWrap .micrositeWhitePaperInfo, #micrositeContentColumnRight .micrositeModuleFeatured .micrositeFeaturedTab .micrositeImageNoWrap .micrositeFeaturedInfo {display:block;overflow:visible;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeWhitePaperInfo, #micrositeContentColumnRight .micrositeModuleFeatured .micrositeFeaturedInfo {display:block;overflow:visible;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabGradient, #micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabGradient1, #micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabGradient2, #micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabGradient3, #micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabGradient4, #micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabGradient5, #micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabGradient6, #micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabGradient7 {display:none;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeModuleFeaturedOutput {width:300px;height:583px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeModuleFeaturedTabs {width:300px;height:38px;padding-bottom:2px;border-bottom:3px solid #345868;margin-bottom:7px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeModuleFeaturedTabs li {float:left;padding-right:4px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeModuleFeaturedOutput > li {width:300px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabWhitePapers {background:  url(../images/tab_whitePapers_rightHoriz.png) no-repeat;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabWhitePapers a {background:  url(../images/tab_whitePapers_rightHoriz.png) no-repeat;height:38px;width:72px;display:block;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabWhitePapers a.current {background: url(../images/tab_whitePapers_rightHorizOn.png) no-repeat;width:72px;height:40px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabCaseStudies {background:  url(../images/tab_caseStudies_rightHoriz.png) no-repeat;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabCaseStudies a {background:  url(../images/tab_caseStudies_rightHoriz.png) no-repeat;height:38px;width:72px;display:block;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabCaseStudies a.current {background: url(../images/tab_caseStudies_rightHorizOn.png) no-repeat;width:72px;height:40px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabTechBriefs {background:  url(../images/tab_techBriefs_rightHoriz.png) no-repeat;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabTechBriefs a {background:  url(../images/tab_techBriefs_rightHoriz.png) no-repeat;height:38px;width:72px;display:block;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabTechBriefs a.current {background: url(../images/tab_techBriefs_rightHorizOn.png) no-repeat;width:72px;height:40px;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeModuleFeaturedTabs .micrositeTabVideos {background:  url(../images/tab_videos_rightHoriz.png) no-repeat;padding-right:0;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabVideos a {background:  url(../images/tab_videos_rightHoriz.png) no-repeat;height:38px;width:72px;display:block;}
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabVideos a.current {background: url(../images/tab_videos_rightHorizOn.png) no-repeat;width:72px;height:40px;}
#micrositeContentColumnRight .micrositeFeaturedTab {padding-right:0;margin-bottom:0;}
#micrositeContentColumnRight .micrositeFeaturedTab .micrositeWhitePaperImage, #micrositeContentColumnRight .micrositeFeaturedTab .micrositeFeaturedImage {float:left;padding:0 15px 0 0;}
#micrositeContentColumnRight .micrositeFeaturedTab .micrositeWhitePaperInfo, #micrositeContentColumnRight .micrositeFeaturedTab .micrositeFeaturedInfo {display:block;overflow:hidden;}
#micrositeContentColumnRight .micrositeFeaturedTab .micrositeImageWrap, #micrositeContentColumnRight .micrositeFeaturedTab .micrositeImageNoWrap {margin-bottom:10px;}
#micrositeContentColumnRight .micrositeFeaturedTab .micrositeImageWrap .micrositeWhitePaperImage, #micrositeContentColumnRight .micrositeFeaturedTab .micrositeImageWrap .micrositeFeaturedImage, #micrositeContentColumnRight .micrositeFeaturedTab .micrositeImageNoWrap .micrositeWhitePaperImage, #micrositeContentColumnRight .micrositeFeaturedTab .micrositeImageNoWrap .micrositeFeaturedImage {padding:0;}
#micrositeContentColumnRight .micrositeFeaturedTab .micrositeImageWrap, #micrositeContentColumnRight .micrositeFeaturedTab .micrositeImageNoWrap {margin-bottom:0;}
#micrositeContentColumnRight .micrositeModuleFeaturedOutput .micrositeFeaturedCaseStudies, #micrositeContentColumnRight .micrositeModuleFeaturedOutput .micrositeFeaturedTechBriefs, #micrositeContentColumnRight .micrositeModuleFeaturedOutput .micrositeFeaturedVideos, #micrositeContentColumnRight .micrositeModuleFeaturedOutput .micrositeFeaturedWhitePapers {padding:0;}



body #TBR_window {z-index:99999;}

/* social media */
#micrositeSocialMediaNav, #micrositeSocialMediaFooter {overflow:hidden;margin:5px;padding:0;}
#micrositeSocialMediaNav {position:absolute;right:10px;top:180px;}
#micrositeSocialMediaFooter {position:absolute;right:25px;top:29px;}
#micrositeSocialMediaNav ul, #micrositeSocialMediaFooter ul {float:left;margin:0;padding:0;}
#micrositeSocialMediaNav li, #micrositeSocialMediaFooter li { display: block;float: left;line-height: 0; list-style: none outside none; margin: 0 0 0 8px;}
#micrositeSocialMediaNav li > a, #micrositeSocialMediaFooter li > a {background-image: url(../images/spriteGlobal.png);background-repeat: no-repeat;display: block;float: left; overflow: hidden;position: relative;text-indent: -9999px;}
.micrositeSocialMedia-facebook a {background-position: -278px -45px;height: 17px;top: 1px;width: 17px;}
.micrositeSocialMedia-linkedin a {background-position: -296px -45px;height: 17px;top: 1px;width: 17px;}
.micrositeSocialMedia-twitter a {background-position: -314px -45px;height: 17px;top: 1px;width: 17px;}
.micrositeSocialMedia-email a {background-position: -212px -22px;height: 20px;top: 0;width: 26px;}

/* JScrollpane styles */
.jspContainer {overflow: hidden;position: relative;}
.jspPane {position: absolute;}
.jspVerticalBar {position: absolute;top: 0;right: 0;width: 8px;height: 100%;background: white;}
.jspHorizontalBar {position: absolute;bottom: 0;left: 0;width: 100%;height: 16px;background: white;}
.jspVerticalBar *, .jspHorizontalBar * {margin: 0;padding: 0;}
.jspCap {display: none;}
.jspHorizontalBar .jspCap {float: left;}
.jspTrack {background: #666; width: 12px; }
.jspDrag {background: #999; position: relative;top: 0;left: 2px;cursor: pointer; width: 4px;}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {float: left;height: 100%;}
.jspArrow {background: #50506d;text-indent: -20000px;display: block;cursor: pointer;}
.jspArrow.jspDisabled {cursor: default;background: #80808d;}
.jspVerticalBar .jspArrow {height: 16px;}
.jspHorizontalBar .jspArrow {width: 16px;float: left;height: 100%;}
.jspVerticalBar .jspArrow:focus {outline: none;}
.jspCorner {background: #eeeef4;float: left;height: 100%;}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {margin: 0 -3px 0 0;}



#micrositeContainer, #micrositeContainerInner, #micrositeContainerCompress { background-color: #000; color: #fff; }
#micrositeContainerCompress { width: 920px; }

#micrositeSocialMediaNav { top: 70px; }

#micrositeHeader { }
#micrositeHeaderBanner { /*background: #000 url(../images/dellCompellentHeader.png) no-repeat 15px 40px;*/ height: 90px; }
#micrositeHeaderBanner .micrositeModuleContainer p { padding: 0; position: relative; left: 15px; top: 30px; }

#micrositeContentColumnLeft { width: 470px; }
#micrositeContentColumnLeft h1 { margin-bottom: 15px; color: #979895; font-size: 25px; }
#micrositeContentColumnLeft p { line-height: 1.5; }
#micrositeContentColumnLeft a { color: #03a2fc; }

#micrositeContentColumnRight { width: 388px; }
#micrositeContentColumnRight h3 { color: #c3f000; text-transform: uppercase; font-weight: normal; border: none; }


#micrositeFooter { background: #000 url(../images/dellCompellentFooter.png) no-repeat 0 20px; border-top: none; height: 50px; }
#micrositeSocialMediaFooter { top: 15px; right: 0; }

/* tabs */
.micrositeModuleFeatured { height: 400px; border: 1px solid #979895; }
.micrositeModuleFeaturedTabs { width: auto !important; }
.micrositeFeaturedTab { display: none; }
.micrositeFeaturedRelatedHeader { display: none; }
.micrositeFeaturedRelated ul { background-color: #000; }
.micrositeFeaturedRelated ul li h4 a { color: #fff; font-family: arial, sans-serif; font-size: 14px; }

.resTitleLogo h3 a { color: #fff; }

#micrositeContentColumnRight .micrositeModuleFeatured { height: 400px; }
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeFeaturedRelatedBody { width: 355px; }
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeModuleFeaturedOutput { width: 100%; top: 50px; }
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeModuleFeaturedOutput > li { width: 100%; }

#micrositeContentColumnRight .micrositeModuleFeatured .micrositeModuleFeaturedTabs { width: 100%; overflow: hidden; border: none; background-color: #fff; }
.micrositeFeaturedRelated ul { margin-top: 0; }
.micrositeModuleFeaturedTabs > li a { margin: 0; }

#micrositeContentColumnRight .micrositeModuleFeatured .micrositeModuleFeaturedTabs li { padding: 0 0 0 1px; }
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeModuleFeaturedTabs li:first-child { padding: 0; }
#micrositeContentColumnRight .micrositeModuleFeaturedTabs a { background-color: #292a28 !important; background-repeat: no-repeat; height: 42px !important; background-position: 50% 50%; padding: 0 8px; }
#micrositeContentColumnRight .micrositeModuleFeaturedTabs a.current { background-color: #5c5a5a !important; }
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabApplicationOptimization a { background-image: url(../images/micrositeFeaturedTab-applicationOptimization.png); width: 82px; }
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabDataProtection a { background-image: url(../images/micrositeFeaturedTab-dataProtection.png); width: 76px; }
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabStorageEfficiency a { background-image: url(../images/micrositeFeaturedTab-storageEfficiency.png); width: 68px; }
#micrositeContentColumnRight .micrositeModuleFeatured .micrositeTabVirtualization a { background-image: url(../images/micrositeFeaturedTab-virtualization.png); width: 95px; }

.resTitleLogo .alignRight { display: none; }

/*  footer  */
#micrositeFooter {background: url(http://cdn.ttgtmedia.com/microsites/dell12g/images/footerLogo.png) no-repeat 0 7px;margin-bottom:20px;overflow:hidden;position:relative;}
#micrositeFooter .micrositeFooterTop {display:none;background: url(http://cdn.ttgtmedia.com/microsites/dell12g/images/footerGradient.png) repeat-x top left;border:1px solid #bbbbbb;border-radius:5px;clear:both;height:85px;width:978px;}
.micrositeFooterTop ul {background: url(http://cdn.ttgtmedia.com/microsites/dell12g/images/background_footerTechTargetLogo.png) no-repeat scroll 25px 25px transparent;margin:0;list-style-type:none;height:85px;padding:35px 0 0 105px;}
.micrositeFooterTop ul li {display:inline-block;float:left;padding-right:20px;}
.micrositeFooterBottom {color:#fff;float:left;margin-top:10px;padding-left:50px;}
.micrositeFooterBottom ul {list-style-type:none;overflow:hidden;margin-bottom:10px;}
.micrositeFooterBottom ul li {display:inline-block;float:left;padding-left:20px;}
.micrositeFooterBottom ul a { color: #16B9C2; }
#micrositeFooter h4 {color:#999;font-size:11px;font-weight:normal;margin:0 0 15px 0;text-transform:uppercase;}
#micrositeFooter p {font-size:11px;padding:0 0 10px 35px;}

.micrositeModuleContainer { margin: 0; }
#micrositeContentColumnFull { margin-bottom: 25px; }