extends layoutEmbedded

block content

  #micrositeAdvertisement
    h3 Advertisement
    #micrositeClose
      a(href='http://searchdatamanagement.techtarget.com') Close
  #micrositeContainer
    #micrositeContainerInner
      #micrositeContainerCompress
        #micrositeHeader
          #micrositeHeaderBanner
            .micrositeModuleContainer
        #micrositeContent
          #micrositeContentColumnFull
            include featuredVideo
            include faceToFace