.faceToFaceCaption
  h2 What can the enterprise cloud do for your business?
.faceToFace
  div
    .faceToFaceHeader
      a(href='replaceMe'): span.faceToFacePersona.faceToFacePersonaMale
      h3: a(href='replaceMe') Help Me Organize and Develop My Global Workforce
    .faceToFaceContent
      p Explore these financial applications resources and make faster decisions by understanding costs, revenue, and profitability
      ul
        li: a(href='replaceMe') 6 Must-Haves for Modern Financial Management Systems
        li: a(href='replaceMe') Innovation in Financial Management: How Workday is Breaking the Barriers of Legacy ERP
        li: a(href='replaceMe') 6 Must-Haves for Modern Financial Management Systems
        li: a(href='replaceMe') Innovation in Financial Management: How Workday is Breaking the Barriers of Legacy ERP
        li: a(href='replaceMe') 6 Must-Haves for Modern Financial Management Systems
        li: a(href='replaceMe') Innovation in Financial Management: How Workday is Breaking the Barriers of Legacy ERP
  div
    .faceToFaceHeader
      a(href='replaceMe'): span.faceToFacePersona.faceToFacePersonaFemale
      h3: a(href='replaceMe') I Need Real-Time Access to Financial Information
    .faceToFaceContent
      p Explore these financial applications resources and make faster decisions by understanding costs, revenue, and profitability
      ul
        li: a(href='replaceMe') 6 Must-Haves for Modern Financial Management Systems
        li: a(href='replaceMe') Innovation in Financial Management: How Workday is Breaking the Barriers of Legacy ERP
        li: a(href='replaceMe') 6 Must-Haves for Modern Financial Management Systems
        li.twitter: a(href='replaceMe') Follow us on Twitter


