extends layout

block content
  #micrositeContainer
    #micrositeContainerInner
      #micrositeContainerCompress
        #micrositeHeader
          #micrositeHeaderBanner
            .micrositeModuleContainer
        #micrositeContent
          #micrositeContentColumnFull
            include featuredVideo
          #micrositeContentColumnLeft
          #micrositeContentColumnRight