- var thisPage = 'Private Cloud'
!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Benefits and Tactics for Adopting a Private Cloud: White Papers, Videos and More from Dell and VMware
    link(rel='stylesheet', href='http://cdn.ttgtmedia.com/microsites/virtualizationmanagementcenter/css/style.css', type='text/css', media='screen')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(type='text/javascript', src='http://cdn.ttgtmedia.com/microsites/virtualizationmanagementcenter/javascript/script.js')
  body#VirtualizationManagementCenter
    #micrositeContainer
      #micrositeContainerInner
        #micrositeContainerCompress
          #micrositeHeader
            #micrositeHeaderBanner
              include slideshow-vmware
            include navigation
            #micrositeSocialMediaNav
              ul
                li.micrositeSocialMedia-email
                  a(href='', title='Email A Friend') E-mail
                li.micrositeSocialMedia-linkedin
                  a(href='#', title='Add to LinkedIn') LinkedIn
                li.micrositeSocialMedia-facebook(title='Add to Facebook')
                  a(href='#') Facebook
                li.micrositeSocialMedia-twitter
                  a(href='#', title='Add to Twitter') Twitter
            // Social Media Header/Nav End
          #micrositeContent
            #micrositeContentColumnLeft
              // Microsites-Primary-2, www.advancevirtualization.com, generated at 18:11:47 Mon Feb 18, 2013 , by vappma12.techtarget.com
              .micrositeModuleContainer
                .micrositeModuleHeader
                  h3 Featured Content
                .micrositeModuleFeatured
                  ul.micrositeModuleFeaturedTabs
                    li
                      a(href='javascript:;')
                    li.micrositeTabGradient1
                  ul.micrositeModuleFeaturedOutput
                    li
                      .micrositeFeaturedTab
                        .micrositeImageNoWrap
                          .micrositeFeaturedImage
                            a(href='http://www.advancevirtualization.com/document/1335895641_969')
                              img(alt='', src='http://cdn.ttgtmedia.com/microsites/DellVIP/VMware/Images/tab1/vmware_tab1.1.jpg')
                          .micrositeFeaturedInfo
                            h3 Recommended
                            h4
                              a(href='http://www.advancevirtualization.com/document/1335895641_969') Your Private Cloud on a Single Server
                            | Though building a private cloud can seem too ambitious for SMBs, selecting the right technology can make it possible for businesses to support private cloud on a single server. Find out about the key components of a successful private cloud in this resource.
                            p
                              a(href='http://www.advancevirtualization.com/document/1335895641_969') View Now
                        .micrositeImageNoWrap
                          .micrositeFeaturedImage
                            a(href='http://www.advancevirtualization.com/document/1304712777_906')
                              img(alt='', src='http://cdn.ttgtmedia.com/microsites/DellVIP/VMware/Images/tab1/vmware_tab1.2.jpg')
                          .micrositeFeaturedInfo
                            h3 Recommended
                            h4
                              a(href='http://www.advancevirtualization.com/document/1304712777_906') A Private Cloud Model: How to Move from a Traditional Data Center Infrastructure
                            | Deploying a private cloud requires careful planning. Discover the primary drivers for this new IT model as well as key questions to ask to help you get started with your initiative.
                            p
                              a(href='http://www.advancevirtualization.com/document/1304712777_906') View Now
                        .micrositeImageNoWrap
                          .micrositeFeaturedImage
                            a(href='http://www.advancevirtualization.com/document/1328543483_798')
                              img(alt='', src='http://cdn.ttgtmedia.com/microsites/DellVIP/VMware/Images/tab1/vmware_tab1.3.jpg')
                          .micrositeFeaturedInfo
                            h3 Recommended
                            h4
                              a(href='http://www.advancevirtualization.com/document/1328543483_798') Virtualization to the Cloud: How SMBs Can Take the Trip
                            | SMBs are rapidly adopting server virtualization and cloud computing to cut costs and streamline IT infrastructures. In this resource, discover how purpose-built software and hardware platforms that can support both virtualization and cloud computing are enabling a hybrid strategy for savvy SMBs.
                            p
                              a(href='http://www.advancevirtualization.com/document/1328543483_798') View Now
                        .micrositeImageNoWrap
                          .micrositeFeaturedImage
                            a(href='http://www.advancevirtualization.com/document/1328211003_203')
                              img(alt='', src='http://cdn.ttgtmedia.com/microsites/DellVIP/VMware/Images/tab1/vmware_tab1.4.jpg')
                          .micrositeFeaturedInfo
                            h3 Recommended
                            h4
                              a(href='http://www.advancevirtualization.com/document/1328211003_203') VMware vSphere: The Best Platform for Cloud Infrastructures
                            | Discover how VMware vSphere, the leading virtualization platform, can help your organization transition existing data centers to the cloud, streamline IT management and support business-critical applications.
                            p
                              a(href='http://www.advancevirtualization.com/document/1328211003_203') View Now
                        .micrositeImageNoWrap
                          .micrositeFeaturedImage
                            a(href='http://www.advancevirtualization.com/document/1308325791_123')
                              img(alt='', src='http://cdn.ttgtmedia.com/microsites/DellVIP/VMware/Images/tab1/vmware_tab1.5.jpg')
                          .micrositeFeaturedInfo
                            h3 Recommended
                            h4
                              a(href='http://www.advancevirtualization.com/document/1308325791_123') Integrating Desktop Virtualization into Your Cloud Strategy
                            | Desktop virtualization and cloud computing are two initiatives that are gaining popularity among the IT industry. This white paper highlights ways you can build a more stable, secure, and efficient computing environment around a virtual desktop infrastructure. Plus, learn how cloud and VDI work together to help you become an efficient business.
                            p
                              a(href='http://www.advancevirtualization.com/document/1308325791_123') View Now
                        .micrositeImageNoWrap
                          .micrositeFeaturedImage
                            a(href='http://www.advancevirtualization.com/document/1303225407_166')
                              img(alt='', src='http://cdn.ttgtmedia.com/microsites/DellVIP/VMware/Images/tab1/vmware_tab1.6.jpg')
                          .micrositeFeaturedInfo
                            h3 Recommended
                            h4
                              a(href='http://www.advancevirtualization.com/document/1303225407_166') Cost Impact of Solid State Drives, Virtualization, and Cloud Computing
                            | This paper will help you think through the impact of SSD, virtualization, and cloud computing on your storage planning and needs.
                            p
                              a(href='http://www.advancevirtualization.com/document/1303225407_166') View Now
                      .micrositeFeaturedRelated
                        .micrositeFeaturedRelatedHeader
                          h3 Related Content
                        .micrositeFeaturedRelatedBody
                          ul
              // Microsites-Primary-1, www.advancevirtualization.com, generated at 18:11:47 Mon Feb 18, 2013 , by vappma12.techtarget.com
              .micrositeModuleContainer
                p
                  object#flashobj(width='576', height='600', classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,47,0')
                    param(name='movie', value='http://c.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1')
                    param(name='bgcolor', value='#FFFFFF')
                    param(name='flashVars', value='playerID=1661882997001&playerKey=AQ~~,AAAAAFGE4wo~,g57wOIK2TXJo4LiK8S0o3WfMHf05iRGn&domain=embed&dynamicStreaming=true')
                    param(name='base', value='http://admin.brightcove.com')
                    param(name='seamlesstabbing', value='false')
                    param(name='allowFullScreen', value='true')
                    param(name='swLiveConnect', value='true')
                    param(name='allowScriptAccess', value='always')
                    embed(src='http://c.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1', bgcolor='#FFFFFF', flashvars='playerID=1661882997001&playerKey=AQ~~,AAAAAFGE4wo~,g57wOIK2TXJo4LiK8S0o3WfMHf05iRGn&domain=embed&dynamicStreaming=true', base='http://admin.brightcove.com', name='flashObj', width='576', height='600', seamlesstabbing='false', type='application/x-shockwave-flash', allowfullscreen='true', allowscriptaccess='always', swliveconnect='true', pluginspage='http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash')
            #micrositeContentColumnRight
              // Microsites-Primary-1, www.advancevirtualization.com, generated at 18:11:47 Mon Feb 18, 2013 , by vappma12.techtarget.com
              .micrositeModuleContainer
                #micrositePromoVendor
                  p
                    a(href='http://www.vmwarecloudcontest.com/')
                      img(src='http://cdn.ttgtmedia.com/microsites/DellVIP/VMware/Images/rec/tab1.jpg', alt='')
                  p
                    | Give us a two-minute pitch on how taking your virtualization solution to the next level could
                    | benefit your business and you could win a $100K makeover!
                  p
                    a(href='http://www.vmwarecloudcontest.com/') Learn More
              .micrositeModuleContainer
                #micrositePromoVendor
                  h3
                    a(href='http://www.advancevirtualization.com/document/1290541472_353') Best Practices
                  p
                    a(href='http://www.advancevirtualization.com/document/1290541472_353')
                      img(src='http://cdn.ttgtmedia.com/microsites/DellVIP/VMware/Images/PTDM/tab1.jpg', alt='')
                  p
                    a(href='http://www.advancevirtualization.com/document/1290541472_353')
                      | VM Automation in the
                      | Private Cloud
                    | highlights the key benefits of being able to automatically deploy virtual
                    | machines to end users. It all starts with private cloud adoption.
                  p
                    a(href='http://www.advancevirtualization.com/document/1290541472_353') View Here
              .micrositeModuleContainer
                .micrositeModuleHeader
                  h3 VMware free trials
                #micrositePromoVendor
                  p
                    a(target='_blank', href='http://pubads.g.doubleclick.net/gampad/clk?id=72813817&iu=/3618/ClickTracking')
                      | Click
                      | here
              .micrositeModuleContainer
                .micrositeModuleHeader
                  h3 Your Turn
                p
                  script(src='http://cdn.widgetserver.com/syndication/platform/InsertWidget/id/2a268f2f-5d70-46e6-a058-81e7d65fe7a9', type='text/javascript')
                  noscript
                    a(style='text-decoration: none; display: block; border: 0;', href='http://www.widgetserver.com/syndication/backuplink/i/2a268f2f-5d70-46e6-a058-81e7d65fe7a9', target='_blank')
                      img(border='0', src='http://www.widgetserver.com/syndication/backupimage/i/2a268f2f-5d70-46e6-a058-81e7d65fe7a9')
            .micrositeContentColumnSpan
          include footer