- var thisPage = 'Server Virtualization'
!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Server Virtualization Strategy and Deployment: White Papers, Videos and More from Dell and VMware
    link(rel='stylesheet', href='http://cdn.ttgtmedia.com/microsites/virtualizationmanagementcenter/css/style.css', type='text/css', media='screen')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(type='text/javascript', src='http://cdn.ttgtmedia.com/microsites/virtualizationmanagementcenter/javascript/script.js')
  body#VirtualizationManagementCenter
    #micrositeContainer
      #micrositeContainerInner
        #micrositeContainerCompress
          #micrositeHeader
            #micrositeHeaderBanner
              include slideshow-intel
            include navigation
            #micrositeSocialMediaNav
              ul
                li.micrositeSocialMedia-email
                  a(href='', title='Email A Friend') E-mail
                li.micrositeSocialMedia-linkedin
                  a(href='#', title='Add to LinkedIn') LinkedIn
                li.micrositeSocialMedia-facebook(title='Add to Facebook')
                  a(href='#') Facebook
                li.micrositeSocialMedia-twitter
                  a(href='#', title='Add to Twitter') Twitter
            // Social Media Header/Nav End
          #micrositeContent
            #micrositeContentColumnLeft
              // Microsites-Primary-2, www.advancevirtualization.com, generated at 00:23:36 Tue Feb 19, 2013 , by vappma12.techtarget.com
              .micrositeModuleContainer
                .micrositeModuleHeader
                  h3 Featured Content
                .micrositeModuleFeatured
                  ul.micrositeModuleFeaturedTabs
                    li
                      a(href='javascript:;')
                    li.micrositeTabGradient1
                  ul.micrositeModuleFeaturedOutput
                    li
                      .micrositeFeaturedTab
                        .micrositeImageNoWrap
                          .micrositeFeaturedImage
                            a(href='http://www.advancevirtualization.com/document/1300892699_580')
                              img(alt='', src='http://cdn.ttgtmedia.com/microsites/DellVIP/VMware/Images/tab2/vmware_tab2.1.jpg')
                          .micrositeFeaturedInfo
                            h3 Recommended
                            h4
                              a(href='http://www.advancevirtualization.com/document/1300892699_580') Benefiting from Server Virtualization: Beyond Initial Workload Consolidation
                            | Increasing the use of server virtualization is a top priority for small and midsize businesses. According to ESG's 2010 Spending Intentions Survey, it is nearly tied as the top priority for SMBs over the next 12 to 18 months. Read this white paper and learn how VMware is helping companies boost the value of server virtualization.
                            p
                              a(href='http://www.advancevirtualization.com/document/1300892699_580') View Now
                        .micrositeImageNoWrap
                          .micrositeFeaturedImage
                            a(href='http://www.advancevirtualization.com/document/1317845196_667')
                              img(alt='', src='http://cdn.ttgtmedia.com/microsites/DellVIP/VMware/Images/tab2/vmware_tab2.2.jpg')
                          .micrositeFeaturedInfo
                            h3 Recommended
                            h4
                              a(href='http://www.advancevirtualization.com/document/1317845196_667') Five Ways SMBs Can Leverage Virtualization
                            | For SMBs, virtualization can enable a simple, cost effective approach to staying agile and effective.  Access this white paper to learn how running a virtual environment can help your SMB to be more responsive to business needs.
                            p
                              a(href='http://www.advancevirtualization.com/document/1317845196_667') View Now
                        .micrositeImageNoWrap
                          .micrositeFeaturedImage
                            a(href='http://www.advancevirtualization.com/document/1334943914_17')
                              img(alt='', src='http://cdn.ttgtmedia.com/microsites/DellVIP/VMware/Images/tab2/vmware_tab2.3.jpg')
                          .micrositeFeaturedInfo
                            h3 Recommended
                            h4
                              a(href='http://www.advancevirtualization.com/document/1334943914_17')
                                | VMware’s vSphere Storage Appliance: High Availability for Small IT Operations - Extending the Benefits of Server Virtualization without Shared Storage
                            | Discover how an innovative new software from VMware enables small and medium size businesses (SMBs) to obtain all the beneifts of server virtualization, without overspending. Gain insight into the benefits this new software promises and how it can lead your business to higher availability.
                            p
                              a(href='http://www.advancevirtualization.com/document/1334943914_17') View Now
                        .micrositeImageNoWrap
                          .micrositeFeaturedImage
                            a(href='http://www.advancevirtualization.com/document/1330101344_39')
                              img(alt='', src='http://cdn.ttgtmedia.com/microsites/DellVIP/VMware/Images/tab2/vmware_tab2.4.jpg')
                          .micrositeFeaturedInfo
                            h3 Recommended
                            h4
                              a(href='http://www.advancevirtualization.com/document/1330101344_39') E-Brief - Taking the Plunge: Moving to VMware ESXi Hypervisor
                            | VMware has moved from ESX to the more compact ESXi as its default hypervisor for vSphere 5.0 and future releases. Discover the major differences between the two and the pros and cons of migrating from ESX to ESXi in this expert IT brief, as well as tips for easing the transition to ESXi.
                            p
                              a(href='http://www.advancevirtualization.com/document/1330101344_39') View Now
                        .micrositeImageNoWrap
                          .micrositeFeaturedImage
                            a(href='http://www.advancevirtualization.com/document/1300893123_974')
                              img(alt='', src='http://cdn.ttgtmedia.com/microsites/DellVIP/VMware/Images/tab2/vmware_tab2.5.jpg')
                          .micrositeFeaturedInfo
                            h3 Recommended
                            h4
                              a(href='http://www.advancevirtualization.com/document/1300893123_974') Moving to Virtualization: A Guide to What's Possible from Dell and VMware
                            | Virtualization allows businesses to run multiple operating systems and applications simultaneously on the same server - delivering a range of great benefits. With Dell and VMware solutions, customers of all sizes can quickly and confidently deploy virtualization.
                            p
                              a(href='http://www.advancevirtualization.com/document/1300893123_974') View Now
                        .micrositeImageNoWrap
                          .micrositeFeaturedImage
                            a(href='http://www.advancevirtualization.com/document/1299258951_14')
                              img(alt='', src='http://cdn.ttgtmedia.com/microsites/DellVIP/VMware/Images/tab2/vmware_tab2.6.jpg')
                          .micrositeFeaturedInfo
                            h3 Recommended
                            h4
                              a(href='http://www.advancevirtualization.com/document/1299258951_14') Virtualization Savings Calculator
                            | This virtualization savings calculator will help you find out how much you would save by using virtualization, simply by entering the amount of servers you are currently using. Also learn the potential environmental impact and take a look at several solutions available.
                            p
                              a(href='http://www.advancevirtualization.com/document/1299258951_14') View Now
                      .micrositeFeaturedRelated
                        .micrositeFeaturedRelatedHeader
                          h3 Related Content
                        .micrositeFeaturedRelatedBody
                          ul
              // Microsites-Primary-1, www.advancevirtualization.com, generated at 00:23:36 Tue Feb 19, 2013 , by vappma12.techtarget.com
              .micrositeModuleContainer
                p
                  object#flashobj(width='576', height='600', classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,47,0')
                    param(name='movie', value='http://c.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1')
                    param(name='bgcolor', value='#FFFFFF')
                    param(name='flashVars', value='playerID=1661946236001&playerKey=AQ~~,AAAAAFGE4wo~,g57wOIK2TXLInPWoLoaoYuqSuBpw6GMO&domain=embed&dynamicStreaming=true')
                    param(name='base', value='http://admin.brightcove.com')
                    param(name='seamlesstabbing', value='false')
                    param(name='allowFullScreen', value='true')
                    param(name='swLiveConnect', value='true')
                    param(name='allowScriptAccess', value='always')
                    embed(src='http://c.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1', bgcolor='#FFFFFF', flashvars='playerID=1661946236001&playerKey=AQ~~,AAAAAFGE4wo~,g57wOIK2TXLInPWoLoaoYuqSuBpw6GMO&domain=embed&dynamicStreaming=true', base='http://admin.brightcove.com', name='flashObj', width='576', height='600', seamlesstabbing='false', type='application/x-shockwave-flash', allowfullscreen='true', allowscriptaccess='always', swliveconnect='true', pluginspage='http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash')
            #micrositeContentColumnRight
              // Microsites-Primary-1, www.advancevirtualization.com, generated at 00:23:36 Tue Feb 19, 2013 , by vappma12.techtarget.com
              .micrositeModuleContainer
                #micrositePromoVendor
                  h3
                    a(href='http://www.advancevirtualization.com/document/1334943913_244')
                      | Advanced
                      | Virtualization
                  p
                    a(href='http://www.advancevirtualization.com/document/1334943913_244')
                      img(src='http://cdn.ttgtmedia.com/microsites/DellVIP/VMware/Images/rec/tab2.jpg', alt='')
                  p
                    | Virtualization deployments vary from business to business.
                    a(href='http://www.advancevirtualization.com/document/1334943913_244')
                      | Read Virtualization 202:
                      | Getting to the Next Level
                    | to solidify a virtualization strategy that meets your company’s needs
                    | and objectives.
                  p
                    a(href='http://www.advancevirtualization.com/document/1334943913_244') View Here
              // Microsites-Primary-1, www.advancevirtualization.com, generated at 00:23:36 Tue Feb 19, 2013 , by vappma12.techtarget.com
              .micrositeModuleContainer
                #micrositePromoVendor
                  h3
                    a(href='http://www.advancevirtualization.com/document/1267818187_794')
                      | All About
                      | vSphere
                  p
                    a(href='http://www.advancevirtualization.com/document/1267818187_794')
                      img(src='http://cdn.ttgtmedia.com/microsites/DellVIP/VMware/Images/PTDM/tab3.jpg', alt='')
                  p
                    | This technology report highlights everything you need to know about
                    a(href='http://www.advancevirtualization.com/document/1267818187_794') vSphere and data storage
                    | .
                    | Make sure you follow the right steps when implementing server technology.
                  p
                    a(href='http://www.advancevirtualization.com/document/1267818187_794') View Here
              // Microsites-Primary-1, www.advancevirtualization.com, generated at 13:58:54 Tue Feb 19, 2013 , by vappma12.techtarget.com
              .micrositeModuleContainer
                .micrositeModuleHeader
                  h3 Your Turn
                p
                  // Ad Tags for Dell VIP Site_0512
                  // Base size of ad: 300x325
                  // Placement: Dell VIP Site_0512 #1
                  // Placement ID: 2a268f2f-5d70-46e6-a058-81e7d65fe7a9
                  script(src='http://cdn.widgetserver.com/syndication/platform/InsertWidget/id/2a268f2f-5d70-46e6-a058-81e7d65fe7a9', type='text/javascript')
                  noscript
                    a(style='text-decoration: none; display: block; border: 0;', href='http://www.widgetserver.com/syndication/backuplink/i/2a268f2f-5d70-46e6-a058-81e7d65fe7a9', target='_blank')
                      img(border='0', src='http://www.widgetserver.com/syndication/backupimage/i/2a268f2f-5d70-46e6-a058-81e7d65fe7a9')
            .micrositeContentColumnSpan
          include footer