.carouselSlideProjector
  .projection
    ul
      li
        .caption
          h2 How does VMware stack up?
          h3
            | Get an in-depth comparison of vSphere to
            br
            | Hyper-V, XenServer and others.
            a(href='http://www.advancevirtualization.com/document/1328211003_135', target='_blank')
              | View now
              | >
        img(src='http://cdn.ttgtmedia.com/microsites/virtualizationmanagementcenter/images/vSphereComparison.jpg', alt='')
      li
        .caption
          h2
            | Running a small or
            br
            | midsize business?
          h3
            | Get real-world value from virtualization
            a(href='http://www.advancevirtualization.com/document/1334943913_117', target='_blank')
              | Get started
              | >
        img(src='http://cdn.ttgtmedia.com/microsites/virtualizationmanagementcenter/images/smallBus.jpg', alt='')
      li
        .caption
          h2
            | Thinking about shifting
            br
            | towards the cloud?
          h3
            | Discover how vSphere 5 accelerates and
            br
            | simplifies the cloud for your organization.
            a(href='http://www.advancevirtualization.com/document/1328211003_946', target='_blank')
              | Learn how
              | >
        img(src='http://cdn.ttgtmedia.com/microsites/virtualizationmanagementcenter/images/vSphere.jpg', alt='')
  .slides
    ul
      li.active
        img(src='http://cdn.ttgtmedia.com/microsites/virtualizationmanagementcenter/images/vSphereComparison_thumb.jpg', alt='')
        span VMware vs. the competition
      li
        img(src='http://cdn.ttgtmedia.com/microsites/virtualizationmanagementcenter/images/smallBus_thumb.jpg', alt='')
        span Practical advice for SMBs
      li
        img(src='http://cdn.ttgtmedia.com/microsites/virtualizationmanagementcenter/images/vSphere_thumb.jpg', alt='')
        span First-class virtualization