// BEGIN: [computingpowercenter - intel] Carousel
.carouselSlideProjector
  .projection
    ul
      li
        .caption
          h2
            | Are you asking your servers
            br
            | to do too much?
          h3
            | Experience how Dell PowerEdge servers
            br
            | can handle the load.
            a(href='replaceMe') Click here >
        img(src='http://cdn.ttgtmedia.com/microsites/computingpowercenter/images/powerControl.jpg', alt='')
      li
        .caption
          h2 Build a connected business.
          h3
            | Discover how collaboration leads to
            br
            | increased productivity.
            a(href='replaceMe') Learn more >
        img(src='http://cdn.ttgtmedia.com/microsites/computingpowercenter/images/increasePower.jpg', alt='')
      li
        .caption
          h2
            | Stay in control
            br
            | while managing growth.
          h3
            | New cloud technologies may be the answer.
            a(href='replaceMe') Learn why >
        img(src='http://cdn.ttgtmedia.com/microsites/computingpowercenter/images/dataCenterTrends.jpg', alt='')
  .slides
    ul
      li.active
        img(src='http://cdn.ttgtmedia.com/microsites/computingpowercenter/images/powerControl_thumb.jpg', alt='')
        span Save on power and cooling
      li
        img(src='http://cdn.ttgtmedia.com/microsites/computingpowercenter/images/increasePower_thumb.jpg', alt='')
        span Modernized IT
      li
        img(src='http://cdn.ttgtmedia.com/microsites/computingpowercenter/images/dataCenterTrends_thumb.jpg', alt='')
        span Consolidation tips and trends
// END: [computingpowercenter - intel] Carousel
