// BEGIN: [integratedsolutionscenter - microsoft] Carousel
.carouselSlideProjector
  .projection
    ul
      li
        .caption
          h2
            | Don't let advanced virtualization
            br
            | intimidate you.
          h3
            | Start experiencing a more efficient, transformed business.
            a(href='replaceMe') Get started >
        img(src='http://cdn.ttgtmedia.com/microsites/integratedsolutionscenter/images/smarterFaster.jpg', alt='')
      li
        .caption
          h2
            | Bridge the gap between physical
            br
            | and virtual machines.
          h3
            | Break down your technology silos.
            a(href='replaceMe') Learn how >
        img(src='http://cdn.ttgtmedia.com/microsites/integratedsolutionscenter/images/virtManagement.jpg', alt='')
      li
        .caption
          h2
            | Is your software living up
            br
            | to its potential?
          h3
            | Right-size your hardware to maximize
            br
            | software performance.
            a(href='replaceMe') Learn more >
        img(src='http://cdn.ttgtmedia.com/microsites/integratedsolutionscenter/images/evalHardware.jpg', alt='')
  .slides
    ul
      li.active
        img(src='http://cdn.ttgtmedia.com/microsites/integratedsolutionscenter/images/smarterFaster_thumb.jpg', alt='')
        span New business advantages
      li
        img(src='http://cdn.ttgtmedia.com/microsites/integratedsolutionscenter/images/virtManagement_thumb.jpg', alt='')
        span End-to-end management solutions
      li
        img(src='http://cdn.ttgtmedia.com/microsites/integratedsolutionscenter/images/evalHardware_thumb.jpg', alt='')
        span Server selection tips
// END: [integratedsolutionscenter - microsoft] Carousel
