extends layout

block content
  #micrositeContainer
    #micrositeContainerInner
      #micrositeContainerCompress
        #micrositeHeader
          #micrositeHeaderBanner
            .micrositeModuleContainer
              p: img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/micrositeHeaderBanner.jpg', alt='')
          - var thisPage = 'Downloads'
          include navigation
          include socialMediaHeader
        #micrositeContent
          #micrositeContentColumnFull
            .vgn-ext-region(vgnextregionname='Microsites-Carousel', vgnextregionscope='page', vgnextregiontypes='MicrositesCarouselComponent')
              div(style='padding:3px;')  
            .vgn-ext-region(vgnextregionname='Microsites-Secondary-1', vgnextregionscope='page', vgnextregiontypes='MicrositesFreeFormComponent,MicrositesTabsComponent,MicrositesEditorialSplashComponent,MicrositesCarouselComponent', vgnextregionid='f5fd2d037b949310VgnVCM1000000d01c80aRCRD')
              .vgn-ext-component(vgnextcomponentid='efed2d037b949310VgnVCM1000000d01c80aRCRD', vgnextxmlname='MicrositesTabsComponent', vgnextdisplayname='Microsites - Tabs Component')
                // Microsites-Primary-2, www.convergedinfrastructure.com, generated at 17:34:34 Mon Apr 8, 2013 , by vpreviewma2.techtarget.com
                .contentTabs
                  .contentTabsNav
                    ul
                      li.micrositeFeaturedTabConvergedInfratructure.active
                        a(href='#') Converged Infrastructure
                      li.micrositeFeaturedTabCloud
                        a(href='#') Cloud
                  .contentTabsPanelCollection
                    .contentTabsPanel
                      .contentTabsPanelContent.twoColGrid
                        ul
                          li
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/17_pdfcover.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1362059933_17')  HP Converged Infrastructure Reference Architecture Design Guide
                                p
                                  span.contentTabsAssetTopic Overview
                                  | Access this roadmap for transforming your data center with a converged infrastructure to support your private cloud objectives. Review reference architecture to guide you in designing this infrastructure model along with a five-step approach for building cloud services to complete the transition.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1362059933_17') View Now
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/tab_ci_col1_overview1.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1342548034_505')
                                    | Discover the business benefits of converged infrastructure. Get the IDC report here.
                                p
                                  span.contentTabsAssetTopic Overview
                                  | Read this white paper to learn the advantages that converged infrastructure systems can offer your business and discover how they can help accelerate your journey to virtualization and the cloud.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1342548034_505') View Now
                          li
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/tab_ci_col1_overview2.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1324585924_901') Forrester: Choosing the Right Converged Infrastructure Vendor
                                p
                                  | Because perceptions of Converged Infrastructure (CI) often vary in the IT industry, HP and Intel contracted Forrester Consulting to survey IT decision-makers internationally on benefits and barriers to implementation of CI. Learn the results of that survey in this white paper.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1324585924_901') View Now
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/tab_ci_col2_overview1.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1342548035_3') IT speed and agility
                                p
                                  | Access this white paper to discover the benefits of a converged infrastructure that integrates server, storage, networking and management resources. Learn how your organization can take advantage of faster time to revenue, lower costs of acquisition and more.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1342548035_3') View Now
                          li
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/downloads_costOfServing.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1342548035_67') The Cost of Retaining Aging IT Infrastructure
                                p
                                  | This white paper explains the problems associated with retaining aging IT infrastructure and how transitioning to new servers can address many of the causes of high operational costs.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1342548035_67') View Now
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/downloads_HPchicos.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1328290353_556') HP & CHICO'S - Customer Case Study
                                p
                                  | Emerging technologies and a changing workforce are altering business models quicker than ever before. With these trends in mind, organizations are moving to centralized platforms that consolidate networks, storage and servers. View this exlusive webcast to determine if such a move is the right one for your company.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1328290353_556') View Now
                          li
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/downloads_sunnyDays.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1321303523_483') CI for Dummies
                                p
                                  | This book will help you understand why infrastructure convergence has been widely accepted as the optimal approach for simplifying and accelerating your IT to deliver services at the speed of business while also shifting significantly more IT resources from operations to innovation.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1321303523_483') View Now
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/tab_ci_col1_storage1.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1336662167_651') HP Converged Storage - Storage for the next era of IT
                                p
                                  | It is becoming increasingly difficult for IT professionals to manage the substantial amount of information their enterprises are generating today. This white paper discusses how to combat this challenge with a converged infrastructure. Discover a system that can help you leverage this strategy and review the benefits it offers.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1336662167_651') View Now
                          li
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/tab_ci_col2_storage1.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1343143381_961') (IDG) Converged Storage: A Next-Gen Storage Strategy for Big Data
                                p
                                  | This white paper explores how you can break down these barriers and seamlessly lay the groundwork for your next-generation, ITaaS infrastructure. Read now to learn more.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1343143381_961') View Now
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/downloads_economicImpact.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1343762663_801') Forrester: The Total Economic Impact of HP 3PAR Storage
                                p
                                  | Check out this white paper for a complete breakdown of the HP 3Par Storage architecture, and learn whether or not this platform is the right fit for your existing infrastructure.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1343762663_801') View Now
                          li
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/downloads_ESG.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1328893824_722') ESG: Defining Tier One Storage in the Modern Data Center
                                p
                                  | This white paper offers insights that can help you gain a better understanding of the modern definition of “tier-1” storage according to ESG. Explore the essential attributes and categorization your new infrastructure requires so you can ensure that your “tier-1” storage is capable of supporting your “next-generation data center."
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1328893824_722') View Now
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/tab_ci_col1_servers1.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1343143381_477')
                                    | Computerworld Tech Dossier: HP ProLiant DL360p & DL380p Gen8 Servers: Power, Flexibility and Service
                                p
                                  | This white paper presents server options that deliver innovative advances in performance, serviceability and lifecycle automation to address the pressing demands of today's data-intensive and virtualized IT environments. Learn how these servers can speed up provisioning, increase uptime and reduce time for server deployment and management.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1343143381_477') View Now
                          li
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/tab_ci_col1_servers2.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1343143381_302') HP ProLiant Gen8 Servers: Intelligent Management and Greater Efficiency
                                p
                                  | Access this white paper to discover a server that dramatically reduces the management burden. This resource presents a server option with the capability to speed and simplify three critical phases of the server lifecycle: configuration and provisioning, daily operational health monitoring, and ongoing updates and maintenance.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1343143381_302') View Now
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/downloads_busValueofBlades.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1343143381_620') Business Value of Blade
                                p
                                  | This white paper examines how eight companies were able to reduce their IT infrastructure cost by migrating to a blade platform. Read on to learn how your organization can reduce requirements for staff time, hardware infrastructure, and facilities.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1343143381_620') View Now
                          li
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/downloads_throughHardware.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1335293739_666') Through Hardware Innovation Comes Support Automation
                                p
                                  | How can you stay ahead of the pack and address increasingly complex data center and IT operations without significantly impacting your IT budget? This informative white paper shows you how.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1335293739_666') View Now
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/downloads_howBladeServers.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1343143381_674') How Blade Servers Impact Data Center Management and Agility
                                p
                                  | Access this white paper to discover the impact of blade servers on data center management and agility. This resource presents survey results that show how your peers are using this technology and the benefits they are achieving.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1343143381_674') View Now
                          li
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/tab_ci_col2_networking1.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1343143382_504') Accu Weather Case Study
                                p
                                  | Access this case study to discover how one weather service improved routine runtime performance by 20% with a converged infrastructure. Read on to see how they successfully replaced the aging storage and servers with a solution that reduced capital requirements and service downtime.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1343143382_504') View Now
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/tab_ci_col2_networking2.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1343143382_266') Modernize your network and advance your midsize or large business
                                p
                                  | Uncover five reasons to modernize your network to ensure you (and your network!) can work at the speed of business demands today. Also learn how HP can help you break free from your legacy infrastructure to achieve the network performance, scalability, and security you need.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1343143382_266') View Now
                          li
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/downloads_ciAtDreamworks.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1324585924_93') Building Virtualization-Optimized Data Center Networks
                                p
                                  | This white paper reviews the impact of server virtualization on the data center and describes HP's approach to building simpler, more secure and automated networks that fully meet the stringent performance, availability and agility demands of the new virtualized data center.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1324585924_93') View Now
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/downloads_theExpansion.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1343144095_905') The Expansion of the Untethered Universe
                                p
                                  | Discover the drivers and market trends regarding wireless LANs today and explore how a truly wireless enterprise is set to soon become a reality.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1343144095_905') View Now
                          li
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/downloads_ciAtDreamworks.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1343144095_829') DreamWorks Case Study
                                p
                                  | This case study explains how server, storage, and network integration can help to support a complex, highly available database environment. Find out how adopting this converged architecture helped one company eliminate downtime, lower latency, and avoid unnecessary spending.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1343144095_829') View Now
                    .contentTabsPanel
                      .contentTabsPanelContent.twoColGrid
                        ul
                          li
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/560_pdfcover.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1362059860_560')
                                    | Adapt your technology, services, and organization to cloud: HP Converged Cloud Workshop
                                p
                                  | This paper introduces the HP Converged Cloud Workshop, which helps you gain clarity on your cloud strategy, identify the cloud initiatives that can work for your business, and create a roadmap that defines your steps forward. Read on to better understand the cloud computing model and how it fits in with traditional IT solution sourcing.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1362059860_560') View Now
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/tab_cloud_col1_overview1.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1342024487_656')
                                    | Make a business case for cloud. Your CFO has questions. Here’s how to answer them.
                                p
                                  | How does the cloud affect your organization's bottom line? Read this white paper today to discover the business case for cloud computing, and explore best practices and guidelines for CIOs and CFOs who are considering making the jump to the cloud.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1342024487_656') View Now
                          li
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/706_pdfcover.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1362059933_706')
                                    | HP CloudSystem: An integrated and open platform to build and manage cloud services
                                p
                                  | Discover why HP CloudSystem – the most complete, integrated, open platform available – can help you build and manage your cloud services quickly, easily, and better than the competition.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1362059933_706') View Now
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/tab_cloud_col1_overview2.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1306448068_658') Various approaches to cloud
                                p
                                  | This expert e-guide from SearchCloudComputing.com explains the key differences between private, public and hybrid clouds. Find out which one best fits your organization’s needs by weighing the risks and benefits of each cloud type.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1306448068_658') View Now
                          li
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/tab_cloud_col2_overview1.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1337715724_610')
                                    | Simplify your IT infrastructure. Move to a service-centric cloud model. IDC report shows you how.
                                p
                                  | Read this white paper to learn how your organization can move beyond the traditional product-centric approach to a service-centric private/hybrid cloud model that can significantly simplify your IT infrastructure, reducing operating costs and management burden, as well as improving your ability to respond to evolving organizational demands.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1337715724_610') View Now
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/downloads_fiveMyths.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1337715724_524') Five Myths of Cloud Computing
                                p
                                  | Read this white paper to discover five common cloud computing misconceptions to be aware of so you can be sure you’re basing your IT decisions on accurate, reliable information.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1337715724_524') View Now
                          li
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/downloads_pathToTheCloud.jpg', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1347895468_794') Your Path to the Cloud: Accelerate your career with HP ExpertOne
                                p
                                  | Access this exclusive resource to better learn how to design, build and manage an integrated, innovative cloud environment in your data center and sharpen your cloud computing knowledge to help your IT organization become more agile and efficient.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1347895468_794') View Now
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/tab_cloud_col1_storage1.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1336662167_37') Utility Storage: The Ideal Platform for Virtual and Cloud Computing
                                p
                                  | In this IDG Tech Dossier, learn how utility storage makes for massive consolidation, flexibility and scalability, so IT departments can reduce storage infrastructure and lower costs while improving their ability to respond to fast-changing needs of business units.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1336662167_37') View Now
                          li
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/tab_cloud_col2_storage1.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1343143381_832') Optimized solutions speed the path to cloud
                                p
                                  | This white paper provides new insights into the benefits of building a fully converged infrastructure to manage the complexity of virtualization. Learn how your organization can reduce the complexity of integrating hardware and virtualization software, simplify lifecycle management and security and much more.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1343143381_832') View Now
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/downloads_dcWater.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1336662167_191') DC Water Keeps Data Flowing Efficiently With HP VirtualSystem
                                p
                                  | This white paper discusses how one organization leveraged an advanced virtual solution to build a private cloud so that they could rapidly access data in a cost-effective manner. Learn how this platform helped them to meet the needs of their business and review the significant benefits they are now enjoying.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1336662167_191') View Now
                          li
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/downloads_bestWay.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1342025076_336')
                                    | The Best Way to Build a Cloud -- HP CloudSystem Matrix and HP 3PAR Utility Storage
                                p
                                  | This White Paper helps provide solutions to help adopt a cloud environment and leading virtualization technologies to create a more flexible efficient infrastructure. Check out some standard-based solutions to create a more efficient IT infrastructure.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1342025076_336') View Now
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/tab_cloud_col1_servers1.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1319477924_902') McKesson Case Study
                                p
                                  | McKesson is a true converged infrastructure success story. In this resource, get the details on how this healthcare industry player upgraded it's server environment, resulting in improved data growth, reduced and deployment time.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1319477924_902') View Now
                          li
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/tab_cloud_col1_servers2.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1337715724_610') Delivering an Integrated Infrastructure for the Cloud (IDC)
                                p
                                  | Read this white paper to learn how your organization can move beyond the traditional product-centric approach to a service-centric private/hybrid cloud model that can significantly simplify your IT infrastructure, reducing operating costs and management burden, as well as improving your ability to respond to evolving organizational demands.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1337715724_610') View Now
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/downloads_buildAndManage.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1343143410_165') Build and manage your infrastructure as a service
                                p
                                  | Access this white paper to discover an infrastructure as a service (IaaS) solution to build and manage private and hybrid cloud deployments. Read on to learn how your organization can build a virtualized, highly automated environment with pools of shared resources that can be leveraged on demand.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1343143410_165') View Now
                          li
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/tab_cloud_col2_networking2.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1343143410_315') Deliver the cloud network: Take a walk in the CLOUD with scalable network
                                p
                                  | This brochure details the networking requirements for a successful cloud environment. Discover other trends shaping the IT landscape and learn how you can fully leverage them through the use of integrated server, storage, and networking technology.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1343143410_315') View Now
                            .mediaBlock.gridItem
                              img.mediaBlockImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/downloads_buildingCloudOptimized.png', alt='')
                              .mediaBlockContent
                                h4
                                  a(href='http://www.convergedinfrastructure.com/document/1343143382_206') Building Cloud-Optimized Data Center Networks
                                p
                                  | This white paper present an integrated and open system for building and managing services across private, public and hybrid cloud environments. Discover the impact of cloud computing on data center networks and discover a better approach to building simpler, more secure and automated networks.
                                p
                                  a.viewNow(href='http://www.convergedinfrastructure.com/document/1343143382_206') View Now
            .vgn-ext-region(vgnextregionname='Microsites-Secondary-2', vgnextregionscope='page', vgnextregiontypes='MicrositesFreeFormComponent,MicrositesTabsComponent,MicrositesEditorialSplashComponent,MicrositesCarouselComponent', vgnextregionid='daa6373e1ea6a310VgnVCM1000000d01c80aRCRD')
              .vgn-ext-component(vgnextcomponentid='24a6373e1ea6a310VgnVCM1000000d01c80aRCRD', vgnextxmlname='MicrositesFreeFormComponent', vgnextdisplayname='Microsites - FreeForm Component')
                // Microsites-Full-1, www.convergedinfrastructure.com, generated at 17:34:34 Mon Apr 8, 2013 , by vpreviewma2.techtarget.com
                .micrositeModuleContainer
                  p
                    img(alt='', src='http://amch.questionmarket.com/adsc/d991675/2/991687/adscout.php?ord=[randnum]', height='1', width='1', border='0')
            .vgn-ext-region(vgnextregionname='Microsites-Secondary-3', vgnextregionscope='page', vgnextregiontypes='MicrositesFreeFormComponent,MicrositesTabsComponent,MicrositesEditorialSplashComponent,MicrositesCarouselComponent', vgnextregionid='fb7e6d6c753ad310VgnVCM1000000d01c80aRCRD')
              div(style='padding:3px;')  
            .vgn-ext-region(vgnextregionname='Microsites-Secondary-4', vgnextregionscope='page', vgnextregiontypes='MicrositesFreeFormComponent,MicrositesTabsComponent,MicrositesEditorialSplashComponent,MicrositesCarouselComponent')
              div(style='padding:3px;')  
            .vgn-ext-region(vgnextregionname='Microsites-Secondary-5', vgnextregionscope='page', vgnextregiontypes='MicrositesFreeFormComponent,MicrositesTabsComponent,MicrositesEditorialSplashComponent,MicrositesCarouselComponent')
              div(style='padding:3px;')  
          .micrositeContentColumnSpan
            .vgn-ext-region(vgnextregionname='Microsites-Slider', vgnextregionscope='page', vgnextregiontypes='MicrositesFreeFormComponent,MicrositesTabsComponent,MicrositesEditorialSplashComponent,MicrositesSliderComponent', vgnextregionid='c69e6d6c753ad310VgnVCM1000000d01c80aRCRD')
              div(style='padding:3px;')  
        include footer