html
  body
    // BEGIN: Filmstrip Carousel
    .filmstrip
      .filmstripWindow
        ul.listTypeFilmstrip
          li
            .filmstripThumbnailHeader Blade Strategies
            .filmstripThumbnail
              img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/slider-forrester.jpg', alt='')
            .filmstripThumbnailText
              p
                | As your datacenter evolves, it's important to accurately evaluate your next purchases in order to accelerate your business value. This Forrester Research resource provides more information.
              p
                a.readMore(href='http://www.bitpipe.com/detail/RES/1343143381_674.html') View now.
          li
            .filmstripThumbnailHeader Cost Saving Tips
            .filmstripThumbnail
              img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/slider-bladeServerBenefits.jpg', alt='')
            .filmstripThumbnailText
              p
                | Stay ahead of the game by addressing complex data center and IT operations without significantly impacting your IT budget. This paper shows you how.
              p
                a.readMore(href='http://www.bitpipe.com/detail/RES/1335293739_666.html') View now.
          li
            .filmstripThumbnailHeader Blade Migration Tips
            .filmstripThumbnail
              img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/slider-bladeMigrationTips.jpg', alt='')
            .filmstripThumbnailText
              p
                | Mid-size companies are reducing their IT infrastructure cost per user by close to 25 percent by moving to a blade platform.
              p
                a.readMore(href='http://www.bitpipe.com/detail/RES/1343143381_620.html') View now.
    // END: Filmstrip Carousel
