html
  body
    // BEGIN: Filmstrip Carousel
    .filmstrip
      .filmstripWindow
        ul.listTypeFilmstrip
          li
            .filmstripThumbnailHeader DC Case Study
            .filmstripThumbnail
              img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/slider-dcWater.jpg', alt='')
            .filmstripThumbnailText
              p
                | In this white paper, discover how one organization utilized an advanced virtual solution to build a private cloud, enabling them to rapidly access data in a cost-effective manner.
              p
                a.readMore(href='http://www.bitpipe.com/detail/RES/1336662167_191.html') View now.
          li
            .filmstripThumbnailHeader Tier-1 Storage Guide
            .filmstripThumbnail
              img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/slider-esgWP.jpg', alt='')
            .filmstripThumbnailText
              p
                | With this resource, garner a more complete understanding of what "tier-1" storage means, according to ESG, to be better prepared for the next-generation of data centers.
              p
                a.readMore(href='http://www.bitpipe.com/detail/RES/1328893824_722.html') View now.
          li
            .filmstripThumbnailHeader HP Efficiency Gains
            .filmstripThumbnail
              img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/slider-automatedSupport.jpg', alt='')
            .filmstripThumbnailText
              p
                | Read this resource for a thorough comparison of four HP 3PAR storage implementations to better gage the efficiency over legacy storage systems.
              p
                a.readMore(href='http://www.bitpipe.com/detail/RES/1343762663_801.html') View now.
    // END: Filmstrip Carousel
