html
  body
    // BEGIN: Filmstrip Carousel
    .filmstrip
      .filmstripWindow
        ul.listTypeFilmstrip
          li
            .filmstripThumbnailHeader Cloud Scalability Gains
            .filmstripThumbnail
              img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/slider-deliverTheCloud.jpg', alt='')
            .filmstripThumbnailText
              p
                | The characteristics of a network infrastructure that’s optimized for cloud computing is the focus of this brochure. Read it and also learn the HP vision for cloud networks based on HP FlexNetwork architecture.
              p
                a.readMore(href='http://www.bitpipe.com/detail/RES/1343143410_315.html') View now.
          li
            .filmstripThumbnailHeader DreamWorks Case Study
            .filmstripThumbnail
              img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/slider-dreamworks.jpg', alt='')
            .filmstripThumbnailText
              p
                | This case study profiles DreamWorks Animation, exloring how they use HP Converged Infrastructure technologies to boost creativity, streamline production, and save significant time as well as costs.
              p
                a.readMore(href='http://www.bitpipe.com/detail/RES/1343144095_829') View now.
          li
            .filmstripThumbnailHeader Wireless Considerations
            .filmstripThumbnail
              img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/slider-infotechWP.jpg', alt='')
            .filmstripThumbnailText
              p
                | The demand for wireless continues to grow at a rapid rate and is quickly relegating wired networks to a second tier status. Read this white paper for advice on when and how and when to make the switch to wireless.
              p
                a.readMore(href='http://www.bitpipe.com/detail/RES/1343144095_905.html') View now.
    // END: Filmstrip Carousel
