#micrositeFooter
  .micrositeModuleContainer
    .micrositeFooterBottom
      ul
        li
          a(href='http://www.techtarget.com/html/privacy_policy.html') Privacy Statement
        li Copyright © 2012 TechTarget
      .micrositeFooterBottomExtended
        h6 About the sponsor
        p
          | HP creates new possibilities for technology to have a meaningful impact on people, businesses, governments and society. The world's largest technology company, HP brings together a portfolio that spans printing, personal computing, software, services and IT infrastructure to solve customer problems. More informationabout HP (NYSE: HPQ) is available at www.hp.com.
        p
          | Intel (NASDAQ: INTC) is a world leader in computing innovation. The company designs and builds the essential technologies that serve as the foundation for the world's computing devices. Additional information about Intel is available at www.intel.com/pressroom and blogs.intel.com.
        p
          | Ultrabook, Celeron, Celeron Inside, Core Inside, Intel, Intel Logo, Intel Atom, Intel Atom Inside, Intel Core, Intel Inside, Intel Inside Logo, Intel vPro, Itanium, Itanium Inside, Pentium, Pentium Inside, vPro Inside, Xeon, and Xeon Inside are trademarks of Intel Corporation in the U.S. and/or other countries.
  include socialMediaFooter