#micrositeHeaderNavigation
  ul
    li.on
      a(href='/') Home
    li
      a(href='/Infrastructure') Infrastructure
      .micrositeHeaderNavigationDropdown
        ul
          li: a(href='/Infrastructure') Overview
          li: a(href='/Storage') Storage
          li: a(href='/Networking') Networking
          li: a(href='/Servers') Servers
    li
      a(href='/Cloud') Cloud
      .micrositeHeaderNavigationDropdown
        ul
          li: a(href='/Cloud') Overview
          li: a(href='/Storage') Storage
          li: a(href='/Networking') Networking
          li: a(href='/Servers') Servers
    li: a(href='/Servers') Servers
    li: a(href='/Storage') Storage
    li: a(href='/Networking') Networking
    li: a(href='/Videos') Videos
    li: a(href='/Downloads') Downloads