extends layout

block content
  #micrositeContainer
    #micrositeContainerInner
      #micrositeContainerCompress
        #micrositeHeader
          #micrositeHeaderBanner
            .micrositeModuleContainer
              p: img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/micrositeHeaderBanner.jpg', alt='')
          - var thisPage = 'Networking'
          include navigation
          include socialMediaHeader
        #micrositeContent
          #micrositeContentColumnFull
            include slideshow-networking
          #micrositeContentColumnLeft
            h2 Modernize Your Networks to Deliver on the Promise of The Cloud
            p
              | Cloud computing brings significant new challenges to network infrastructures. The promise of increased business speed and agility means the underlying networks must deliver greater performance than ever before, while also supporting related shifts to increased mobility and the bring-your-own device (BYOD) paradigm. Today’s networks must be high-performance, ultra-reliable, secure, scalable, agile and manageable.
            .micrositeContentCallout
              .micrositeContentCalloutInner
                h6 Related
                ul
                  li
                    a(href='http://www.bitpipe.com/detail/RES/1343143410_315.html') Deliver the cloud network: Take a walk in the CLOUD with scalable network
                  li
                    a(href='http://www.bitpipe.com/detail/RES/1343762663_999.html') ESG: HP Virtual Application Networks
                  li
                    a(href='http://www.bitpipe.com/detail/RES/1342548034_505.html') Measuring the Business Value of CI in the Data Center - IDC-HP White Paper
            p
              | The unfortunate reality is that traditional legacy networks are not up to the job when it comes to delivering the performance required for cloud computing. Traditional Ethernet networks use the spanning tree protocol (STP), which make them poorly suited for delay-sensitive applications: Cloud computing requires more efficient and resilient network designs that make full use of networking resources.
            p
              | The key to delivering robust and scalable networks for the cloud is to deploy a fabric-based architecture, as epitomized by the HP FlexNetwork, which enables the construction of flat low-latency networks with fewer layers, less equipment and cabling, and greater port densities. A fabric architecture allows IT to modernize its network infrastructure at its own pace, preserving existing assets, while putting the foundation in place for networks that are more resilient, secure and scalable. A particular advantage of the HP approach is that it connects the data center, where applications are generated, to the campus and branch, where users consume them.
            p
              | A modernized network infrastructure is a vital piece of the puzzle in delivering the business agility, flexibility and services-oriented approach promised by the cloud. To really drive your organization to next-generation cloud success, the network should be part of a converged infrastructure that provides a common management platform to manage and automate operations for all applications and infrastructure components. Read on to learn about what it takes to build a network to support the cloud, mobility, BYOD and all of the other challenges facing IT and network decision-makers today.
          #micrositeContentColumnRight
            .micrositeSplashWrapper
              // Start of Brightcove Player
              div(style='display:none')
              //
                By use of this code snippet, I agree to the Brightcove Publisher T and C
                found at https://accounts.brightcove.com/en/terms-and-conditions/.
              script(language='JavaScript', type='text/javascript', src='http://admin.brightcove.com/js/BrightcoveExperiences.js')
              object#myExperience1753796749001.BrightcoveExperience
                param(name='bgcolor', value='#FFFFFF')
                param(name='width', value='300')
                param(name='height', value='170')
                param(name='playerID', value='1739575277001')
                param(name='playerKey', value='AQ~~,AAAAAFGE4wo~,g57wOIK2TXLDvUTMk6gUQ57uYJU8J1y4')
                param(name='isVid', value='true')
                param(name='isUI', value='true')
                param(name='dynamicStreaming', value='true')
                param(name='@videoPlayer', value='1753796749001')
              //
                This script tag will cause the Brightcove Players defined above it to be created as soon
                as the line is read by the browser. If you wish to have the player instantiated only after
                the rest of the HTML is processed and the page load is complete, remove the line.
              script(type='text/javascript')
                brightcove.createExperiences();
              // End of Brightcove Player
            .micrositeSplashWrapper
              h5 Recommended
              .micrositeSplashRecommended
                img.micrositeSplashRecommendedImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/recommendedImage-buildingVirtualization.jpg')
                h6 Data Center Optimization Tips
                p
                  | With this white paper, discover how HP solutions scale to meet the performance requirements of today's data centers.
                  a(href='http://www.bitpipe.com/detail/RES/1324585924_93.html') View now
              .micrositeSplashRecommended
                img.micrositeSplashRecommendedImage(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/recommendedImage-buildingCloud.jpg')
                h6 Cloud Computing Best Practices
                p
                  | Cloud computing is making an increasing impact on data center networks. This whitepaper discusses HP's approach to simpler and more secure automated networks in the Cloud.
                  a(href='http://www.bitpipe.com/detail/RES/1343143382_206.html') View now
            .micrositeSplashWrapper
              h5 Communities
              .micrositeSplashCommunities
                ul
                  li.micrositeSplashCommunities-rss
                    a(href='http://h30507.www3.hp.com/t5/Networking/ct-p/Networking') HP Networking Blog
                  li.micrositeSplashCommunities-rss
                    a(href='http://premierit.intel.com/community/ipip') Read the Intel Premier IT blog
                  li.micrositeSplashCommunities-rss
                    a(href='http://h30507.www3.hp.com/t5/Converged-Infrastructure/bg-p/663') Read the HP Converged Infrastructure blog
                  li.micrositeSplashCommunities-twitter
                    a(href='http://twitter.com/HPConverge') Follow HP Converged Infrastructure
                  li.micrositeSplashCommunities-linkedin
                    a(href='http://www.linkedin.com/groups/HP-Converged-Infrastructure-3816387') Join HP Converged Infrastructure
                  li.micrositeSplashCommunities-facebook
                    a(href='http://www.facebook.com/ConvergedInfrastructure?ref=ts') Connect with the HP Converged Infrastructure community
          .micrositeContentColumnSpan
            include filmstrip-networking
        include footer