// BEGIN: Networking Carousel
.carouselSlideProjector
  .projection
    ul
      li
        .caption
          h2 HP Converged Storage
          h3
            | Storage for the next era of IT
            a(href='http://www.bitpipe.com/detail/RES/1336662167_651.html') View now >
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_convergedStorage.jpg', alt='')
      li
        .caption
          h2 DC Water keeps data flowing efficiently with HP VirtualSystem
          h3
            a(href='http://www.bitpipe.com/detail/RES/1336662167_191.html') View now >
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_dcWater.jpg', alt='')
      li
        .caption
          h2 (IDG) Converged Storage: A Next-Gen Storage Strategy for Big Data
          h3
            a(href='http://www.bitpipe.com/detail/RES/1343143381_961.html') View now >
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_bigSolution.jpg', alt='')
  .slides
    ul
      li.active
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_convergedStorage_thumb.jpg', alt='')
        span Storage without boundaries
      li
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_dcWater_thumb.jpg', alt='')
        span DC Water case study
      li
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_bigSolution_thumb.jpg', alt='')
        span Advanced storage
// END: Networking Carousel
