// BEGIN: Networking Carousel
.carouselSlideProjector
  .projection
    ul
      li
        .caption
          h2 McKesson saves millions.
          h3
            | Nation’s largest healthcare company reduces server footprint by 43%.
            a(href='http://www.bitpipe.com/detail/RES/1319477924_902.html') Learn how >
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_mcKesson.jpg', alt='')
      li
        .caption
          h2 Cedar Fair gets off the technology roller coaster.
          h3
            | Amusement-resort operator cuts 60% of physical servers and networking equipment.
            a(href='http://www.bitpipe.com/detail/RES/1336662538_264.html') Learn how >
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_cedarFair.jpg', alt='')
      li
        .caption
          h2 The Best Way to Build a Cloud
          h3
            | HP CloudSystem Matrix and HP 3PAR Utility Storage
            a(href='http://www.bitpipe.com/detail/RES/1342025076_336.html') View now >
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_IDG.jpg', alt='')
  .slides
    ul
      li.active
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_mcKesson_thumb.jpg', alt='')
        span McKesson case study
      li
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_cedarFair_thumb.jpg', alt='')
        span Cedar Fair case study
      li
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_IDG_thumb.jpg', alt='')
        span Cloud innovation
// END: Networking Carousel
