// BEGIN: Cloud Carousel
.carouselSlideProjector
  .projection
    ul
      li
        .caption
          h2 Make a business case for cloud.
          h3
            | Your CFO has questions. Here’s how to answer them.
            a(href='http://www.bitpipe.com/detail/RES/1342024487_656.html') View now >
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_busCaseforCloud.jpg', alt='')
      li
        .caption
          h2 McKesson saves millions.
          h3
            | Nation’s largest healthcare company reduces server footprint by 43%.
            a(href='http://www.bitpipe.com/detail/RES/1319477924_902.html	') Learn how >
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_mcKesson.jpg', alt='')
      li
        .caption
          h2 Simplify your IT infrastructure.
          h3
            | Move to a service-centric cloud model. IDC report shows you how.
            a(href='http://www.bitpipe.com/detail/RES/1337715724_610.html') Download how >
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_simplify.jpg', alt='')
  .slides
    ul
      li.active
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_busCaseforCloud_thumb.jpg', alt='')
        span Business case for cloud
      li
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_mcKesson_thumb.jpg', alt='')
        span McKesson case study
      li
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_simplify_thumb.jpg', alt='')
        span Integrated cloud infrastructure
// END: Cloud Carousel
