// BEGIN: Converged Infrastructure Carousel
.carouselSlideProjector
  .projection
    ul
      li
        .caption
          h2 Discover the business benefits of converged infrastructure.
          h3
            | Get the IDC report here.
            a(href='http://www.bitpipe.com/detail/RES/1342548034_505.html') View now >
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_discover.jpg', alt='')
      li
        .caption
          h2 Cedar Fair gets off the technology roller coaster.
          h3
            | Amusement-resort operator cuts 60% of physical servers and networking equipment.
            a(href='http://www.bitpipe.com/detail/RES/1336662538_264.html') Learn how >
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_cedarFair.jpg', alt='')
      li
        .caption
          h2 Are your servers more than 4 years old?
          h3
            | Upgrading now can deliver a 150% return on your investment.
            a(href='http://www.bitpipe.com/detail/RES/1342548035_67.html') Find out how >
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_servers.jpg', alt='')
  .slides
    ul
      li.active
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_discover_thumb.jpg', alt='')
        span Business value of convergence
      li
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_cedarFair_thumb.jpg', alt='')
        span Cedar Fair case study
      li
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_servers_thumb.jpg', alt='')
        span ROI of technology refresh
// END: Converged Infrastructure Carousel
