// BEGIN: Networking Carousel
.carouselSlideProjector
  .projection
    ul
      li
        .caption
          h2 Reduce service downtime
          h3
            a(href='http://www.bitpipe.com/detail/RES/1343143382_504.html') View now >
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_accuWeather.jpg', alt='')
      li
        .caption
          h2 Scale your infrastructure with greater flexibility
          h3
            a(href='http://www.bitpipe.com/detail/RES/1337715724_610.html') View now >
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_delivering.jpg', alt='')
      li
        .caption
          h2 Empower your network to support game-changing technologies
          h3
            a(href='http://www.bitpipe.com/detail/RES/1343143382_266	.html') View now >
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_modernize.jpg', alt='')
  .slides
    ul
      li.active
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_accuWeather_thumb.jpg', alt='')
        span Accu Weather case study
      li
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_delivering_thumb.jpg', alt='')
        span Cloud benefits
      li
        img(src='http://cdn.ttgtmedia.com/microsites/hpci2/images/carousel_modernize_thumb.jpg', alt='')
        span Network modernization
// END: Networking Carousel
